In [1]:
"""
Το chartevent αποτελείται από 9.874.474 εγγραφές που αφορούν τους ασθενείς με εγκεφαλικό

Οι καταγραφές αυτές ομαδοποιήθηκαν και υπολογίσαμε τον μέσο όρο για την κάθε μια από αυτές μέσα στο 8ώρο όπου και ανήλθαν στα 4.177.458 εγγραφές 
"""

'\nΤο chartevent αποτελείται από 9.874.474 εγγραφές που αφορούν τους ασθενείς με εγκεφαλικό\n\nΟι καταγραφές αυτές ομαδοποιήθηκαν και υπολογίσαμε τον μέσο όρο για την κάθε μια από αυτές μέσα στο 8ώρο όπου και ανήλθαν στα 10.824.209 εγγραφές \n'

In [2]:
import pandas as pd

In [3]:
rslt_df = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o8_cerebral_infarction_chartevent_item_merged_without_nan.csv')

df_d_items = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\icu\d_items.csv.gz')#, usecols = ['itemid', 'label', 'abbreviation', 'category','param_type'])

C:\Users\Dimopoulos\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9874474 entries, 0 to 9874473
Data columns (total 14 columns):
 #   Column        Dtype
---  ------        -----
 0   subject_id    int64
 1   hadm_id       int64
 2   stay_id       int64
 3   charttime     object
 4   storetime     object
 5   itemid        int64
 6   value         object
 7   valuenum      float64
 8   valueuom      object
 9   warning       int64
 10  label         object
 11  abbreviation  object
 12  category      object
 13  param_type    object
dtypes: float64(1), int64(5), object(8)
memory usage: 1.0+ GB

In [5]:
rslt_df.loc[rslt_df['itemid'] == 220210]

,subject_id,hadm_id,stay_id,charttime,storetime,itemid,value,valuenum,valueuom,warning,label,abbreviation,category,param_type
1737724,10357189,23179921,32535724,2124-08-01 22:13:00,2124-08-01 22:19:00,220210,18,18.0,insp/min,0,Respiratory Rate,RR,Respiratory,Numeric
1737725,10357189,23179921,32535724,2124-08-01 22:15:00,2124-08-01 22:19:00,220210,20,20.0,insp/min,0,Respiratory Rate,RR,Respiratory,Numeric
1737726,10357189,23179921,32535724,2124-08-01 22:30:00,2124-08-01 22:38:00,220210,21,21.0,insp/min,0,Respiratory Rate,RR,Respiratory,Numeric
1737727,10357189,23179921,32535724,2124-08-01 23:00:00,2124-08-01 23:23:00,220210,20,20.0,insp/min,0,Respiratory Rate,RR,Respiratory,Numeric
1737728,10357189,23179921,32535724,2124-08-02 00:00:00,2124-08-02 00:07:00,220210,14,14.0,insp/min,0,Respiratory Rate,RR,Respiratory,Numeric
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2255941,19937688,20981455,36765763,2142-02-12 19:00:00,2142-02-12 20:12:00,220210,27,27.0,insp/min,0,Respiratory Rate,RR,Respiratory,Numeric
2255942,19937688,20981455,36765763,2142-02-12 20:00:00,2142-02-12 20:12:00,220210,20,20.0,insp/min,0,Respiratory Rate,RR,Respiratory,Numeric
2255943,19937688,20981455,36765763,2142-02-12 21:00:00,2142-02-12 22:03:00,220210,25,25.0,insp/min,0,Respiratory Rate,RR,Respiratory,Numeric
2255944,19937688,20981455,36765763,2142-02-12 22:00:00,2142-02-12 22:03:00,220210,25,25.0,insp/min,0,Respiratory Rate,RR,Respiratory,Numeric
2255945,19937688,20981455,36765763,2142-02-12 23:00:00,2142-02-12 23:14:00,220210,20,20.0,insp/min,0,Respiratory Rate,RR,Respiratory,Numeric

In [6]:
"""
Μετατροπή της στήλης charttime από object σε datetime
Αυτή η γραμμή κώδικα έγινε σε αντικατάσταση της dates =  pd.to_datetime(df.charttime, format='%Y-%m-%d %H:%M:%S').
Η εντολή .info() στο dataframe και στο δικό μου είναι rslt_df.info() γυρίζει αποτελέσματα αναφορικά με τα στοιχεία του πίνακα
και ένα από αυτά είναι το είδος της κάθε στήλης. Η στήλη του charttime φαίνεται σαν object και αυτό είχε σαν συνέπεια να μην μπορούν
να γίνουν οι υπολογισμοί. Μετά την εκτέλεση της παρακάτω εντολής αν τρέξουμε εκ νέου την .info() πλέον το αποτέλεσμα στην charttime είναι
datetime64[ns], οπότε μετά μπορεί να ακουθήσει η groupby και οι υπολογισμοί μέσα σε αυτή όπως το freq και οι υπόλοιπες. Χωρίς αυτή δεν γίνεται.
"""
rslt_df['charttime']= pd.to_datetime(rslt_df['charttime'])

In [7]:
grouped_multiple = rslt_df.groupby(['subject_id', 'hadm_id', 'itemid', pd.Grouper(key='charttime', freq='8H')]).agg({'valuenum': ['mean']})
grouped_multiple.columns = ['Mean_Chart']
grouped_multiple = grouped_multiple.reset_index()
grouped_multiple

         subject_id   hadm_id  itemid           charttime  Mean_Chart
0          10004733  27411876  220045 2174-12-04 08:00:00   93.200000
1          10004733  27411876  220045 2174-12-04 16:00:00   97.250000
2          10004733  27411876  220045 2174-12-05 00:00:00  100.333333
3          10004733  27411876  220045 2174-12-05 08:00:00   90.687500
4          10004733  27411876  220045 2174-12-05 16:00:00   92.111111
...             ...       ...     ...                 ...         ...
4177453    19999987  23865745  228412 2145-11-04 00:00:00    5.000000
4177454    19999987  23865745  228412 2145-11-04 08:00:00    5.000000
4177455    19999987  23865745  228412 2145-11-04 16:00:00    5.000000
4177456    19999987  23865745  228648 2145-11-03 00:00:00    0.000000
4177457    19999987  23865745  228649 2145-11-03 00:00:00    0.000000

[4177458 rows x 5 columns]

In [8]:
# Ενοποίηση του πίνακα με την επεξήγηση του κάθε itemid
rslt_df=pd.merge(grouped_multiple, df_d_items, on=['itemid'])

In [9]:
rslt_df

,subject_id,hadm_id,itemid,charttime,Mean_Chart,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,10004733,27411876,220045,2174-12-04 08:00:00,93.200000,Heart Rate,HR,chartevents,Routine Vital Signs,bpm,Numeric,NaN,NaN
1,10004733,27411876,220045,2174-12-04 16:00:00,97.250000,Heart Rate,HR,chartevents,Routine Vital Signs,bpm,Numeric,NaN,NaN
2,10004733,27411876,220045,2174-12-05 00:00:00,100.333333,Heart Rate,HR,chartevents,Routine Vital Signs,bpm,Numeric,NaN,NaN
3,10004733,27411876,220045,2174-12-05 08:00:00,90.687500,Heart Rate,HR,chartevents,Routine Vital Signs,bpm,Numeric,NaN,NaN
4,10004733,27411876,220045,2174-12-05 16:00:00,92.111111,Heart Rate,HR,chartevents,Routine Vital Signs,bpm,Numeric,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4177453,18542326,20730816,229280,2178-11-16 08:00:00,100.000000,FiO2 (ECMO),FiO2 (ECMO),chartevents,ECMO,%,Numeric,NaN,NaN
4177454,18542326,20730816,229280,2178-11-16 16:00:00,78.571429,FiO2 (ECMO),FiO2 (ECMO),chartevents,ECMO,%,Numeric,NaN,NaN
4177455,18804278,25439179,229280,2173-12-19 16:00:00,100.000000,FiO2 (ECMO),FiO2 (ECMO),chartevents,ECMO,%,Numeric,NaN,NaN
4177456,18804278,25439179,229280,2173-12-20 00:00:00,100.000000,FiO2 (ECMO),FiO2 (ECMO),chartevents,ECMO,%,Numeric,NaN,NaN
4177457,18804278,25439179,229280,2173-12-20 08:00:00,100.000000,FiO2 (ECMO),FiO2 (ECMO),chartevents,ECMO,%,Numeric,NaN,NaN

In [10]:
rslt_df.to_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o9_charttime_8_hour_mean_item_merged.csv', index=False)