In [1]:
"""
Κάνουμε καταμέτρηση των πιο συχνά εμφανιζόμενων εξετάσεων.
"""

'\nΚάνουμε καταμέτρηση των πιο συχνά εμφανιζόμενων εξετάσεων.\n'

In [2]:
#Εισαγωγή βιβλιοθήκης Panda.
import pandas as pd

In [3]:
# Δήλωση των dataframes

df_cerebral_infarction_labevents = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o11_cerebral_infarction_labevents_grouped_8hours.csv')
df_data_lab_events = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\hosp\d_labitems.csv.gz')
df_patients = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o5_icu_unique_admissions.csv', usecols = ['subject_id'])

In [4]:
# Καταμέτρηση των εξετάσεων που κάνουν οι ασθενείς με εγκεφαλικό και μετατροπή από series σε dataframe.
rslt_df = pd.DataFrame(df_cerebral_infarction_labevents['itemid'].value_counts(dropna=True))

# Το παραγώμενο αρχείο έχει σαν index την στήλη που περιέχει τον κωδικό των εξετάσεων, οπότε την κάνουμε reset
rslt_df = rslt_df.reset_index()

# Και ορίζουμε νέες ονομασίες στις στήλες για να μπορούν να είναι ευανάγνωστες.
rslt_df.rename(columns={'index': 'itemid', 'itemid': 'times'}).to_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o12_cerebral_infarction_labevents_counts.csv', index=False)

In [5]:
rslt_df = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o12_cerebral_infarction_labevents_counts.csv', index_col=False)

In [6]:
rslt_df = rslt_df.set_index('itemid')

In [7]:
# Μεταφέρω τις γραμμές σε στήλες
rslt_df = rslt_df.transpose()

In [8]:
# Αδειάζω την μία και μοναδική γραμμή του πίνακα
rslt_df = rslt_df.drop(['times'])

In [9]:
rslt_df

Empty DataFrame
Columns: [50983, 50971, 50902, 50912, 51006, 50882, 50868, 50931, 51221, 50960, 51265, 51222, 51301, 51249, 51248, 51250, 51279, 51277, 50970, 50893, 51275, 51274, 51237, 50820, 50802, 50821, 50804, 50818, 50808, 50813, 50861, 50878, 50885, 50863, 51491, 51498, 50809, 50862, 50822, 50910, 51244, 51256, 51254, 51146, 51200, 50817, 50964, 50954, 50911, 50825, 51009, 51003, 51516, 51493, 51476, 50816, 51492, 50967, 50819, 50824, 51144, 51214, 51251, 51255, 51143, 50811, 50810, 50806, 50826, 52172, 51000, 51100, 50956, 51093, 51082, 50852, 51097, 51078, 50907, 50904, 50903, 50867, 50905, 51613, 51514, 51482, 50993, 50908, 51484, 51007, 52264, 52281, 52272, 52286, 51104, 52285, 51802, 51478, 51790, 51257, ...]
Index: []

[0 rows x 388 columns]