In [ ]:
"""
1.651.119 -> Στο σύνολο γραμμές καταχωρημένων ενδείξεων.
752.146 -> Ομαδοποιημένες εγγραφές στο 8ώρο.




6.788 -> γραμμές ενδείξεων που αφορούν άτομα από τα επείγοντα στις ΜΕΘ

1.547 -> εισαγωγές στις ΜΕΘ
"""

In [2]:
import pandas as pd

In [3]:
df_vitalsign = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\ed\Vitalsign.csv.gz')

In [4]:
df_vitalsign['charttime']= pd.to_datetime(df_vitalsign['charttime'])

In [5]:
# Μετατροπή της στήλης charttime από object σε datetime
df_vitalsign['charttime']= pd.to_datetime(df_vitalsign['charttime'])

In [6]:
# Ομαδοποίηση καταγραφών ανά στήλη στο 8ώρο.

grouped_multiple = (df_vitalsign.groupby(['subject_id', 'stay_id',
                                          pd.Grouper(key='charttime',
                                                     freq='8H')]).agg({'temperature': ['mean'],
                                                                       'heartrate': ['mean'],
                                                                       'resprate': ['mean'],
                                                                       'o2sat': ['mean'],
                                                                       'sbp': ['mean'],
                                                                       'dbp': ['mean']}))
grouped_multiple.columns = (['Mean_temperature',
                             'Mean_heartrate',
                             'Mean_resprate',
                             'Mean_o2sat',
                             'Mean_sbp',
                             'Mean_dbp'])
grouped_multiple = grouped_multiple.reset_index()

In [7]:
# Κενές τιμές στον πίνακα
grouped_multiple.isna().sum()

subject_id              0
stay_id                 0
charttime               0
Mean_temperature    60071
Mean_heartrate       6126
Mean_resprate        7643
Mean_o2sat          28566
Mean_sbp             7394
Mean_dbp             7394
dtype: int64

In [8]:
grouped_multiple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 752146 entries, 0 to 752145
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   subject_id        752146 non-null  int64
 1   stay_id           752146 non-null  int64
 2   charttime         752146 non-null  datetime64[ns]
 3   Mean_temperature  692075 non-null  float64
 4   Mean_heartrate    746020 non-null  float64
 5   Mean_resprate     744503 non-null  float64
 6   Mean_o2sat        723580 non-null  float64
 7   Mean_sbp          744752 non-null  float64
 8   Mean_dbp          744752 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(2)
memory usage: 51.6 MB