In [1]:
"""
Ενοποίηση και των τριών πινάκων που έχω δημιουργήσει σε ένα ενιαίο

ChartEvent -> 65.189 γραμμές / 712 στήλες
LabEvent -> 68.191 γραμμές / 393 στήλες
ED vitals -> 1.662 γραμμές / 11 στήλες

final_table -> 135.042 γραμμές / 1106 στήλες
"""

'\nΕνοποίηση και των τριών πινάκων που έχω δημιουργήσει σε ένα ενιαίο\n\nChartEvent -> 65.189 γραμμές / 712 στήλες\nLabEvent -> 68.191 γραμμές / 393 στήλες\nED vitals -> 1.662 γραμμές / 11 στήλες\n\nfinal_table -> 135.042 γραμμές / 1106 στήλες\n'

In [2]:
import pandas as pd

In [3]:
df_chartevent = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o9_fill_chart_label_header_tbl.csv')

df_labevents = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o15_fill_lab_label_header_tbl.csv')

df_vital = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o17_ed_to_icu_vitalsigns.csv')

In [4]:
df_chartevent

,subject_id,hadm_id,Department,date,time,Heart Rate (bpm),Heart rate Alarm - High (bpm),Heart Rate Alarm - Low (bpm),Arterial Blood Pressure systolic (mmHg),Arterial Blood Pressure diastolic (mmHg),...,Orientation to Time (nan),HM II- Perc Lock fully engaged (nan),HM II- Sys Cont in Prim Mode (nan),HM II- Mean BP (mmHg),HM II- Flow (L/min),HM II- Speed (RPM) (None),HM II- PI (None),HM II- Power (None),Activity / Mobility (JH-HLM) (nan).1,Absolute Neutrophil Count (None)
0,10004733,27411876,icu,2174-12-04,08:00:00,93.200000,130.0,50.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10004733,27411876,icu,2174-12-04,16:00:00,97.250000,130.0,50.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10004733,27411876,icu,2174-12-05,00:00:00,100.333333,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10004733,27411876,icu,2174-12-05,08:00:00,90.687500,120.0,50.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10004733,27411876,icu,2174-12-05,16:00:00,92.111111,120.0,50.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65184,10546885,25213587,icu,2174-09-29,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65185,11114858,24037757,icu,2128-08-12,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65186,19623640,29398204,icu,2168-04-01,16:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65187,11974151,22782098,icu,2152-07-02,16:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65188,17589641,25678885,icu,2161-09-02,16:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN

In [5]:
df_labevents

,subject_id,hadm_id,Department,date,time,Alveolar-arterial Gradient (Blood),Base Excess (Blood),"Calculated Bicarbonate, Whole Blood (Blood)",Calculated Total CO2 (Blood),Carboxyhemoglobin (Blood),...,Other (Cerebrospinal Fluid),Plasma (Cerebrospinal Fluid),Polys (Cerebrospinal Fluid),Promyelocytes (Cerebrospinal Fluid),"RBC, CSF (Cerebrospinal Fluid)","Total Nucleated Cells, CSF (Cerebrospinal Fluid)","Total Nucleated Cells, Joint (Joint Fluid)","Total Nucleated Cells, Other (Other Body Fluid)","Total Nucleated Cells, Pleural (Pleural)",Absolute Lymphocyte Count (Blood).1
0,10004733,27411876,hosp,2174-12-04,16:00:00,NaN,0.0,NaN,26.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10004733,27411876,hosp,2174-12-04,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10004733,27411876,hosp,2174-12-05,16:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10004733,27411876,hosp,2174-12-06,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10004733,27411876,hosp,2174-12-07,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68186,19999987,23865745,hosp,2145-11-09,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68187,19999987,23865745,hosp,2145-11-07,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68188,19999987,23865745,hosp,2145-11-03,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68189,19999987,23865745,hosp,2145-11-03,16:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68190,19999987,23865745,hosp,2145-11-04,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_vital

,subject_id,hadm_id,Department,Mean_temperature,Mean_heartrate,Mean_resprate,Mean_o2sat,Mean_sbp,Mean_dbp,date,time
0,13397589,22849351,ed,98.90,71.750000,15.250000,98.333333,164.500000,89.000000,2186-10-03,16:00:00
1,15902493,21900706,ed,NaN,72.000000,18.000000,99.000000,152.000000,73.000000,2174-07-24,08:00:00
2,15902493,21900706,ed,98.00,73.500000,17.000000,100.000000,118.000000,59.500000,2174-07-24,16:00:00
3,18716059,27648116,ed,NaN,66.000000,16.500000,100.000000,171.500000,68.000000,2169-05-08,08:00:00
4,18716059,27648116,ed,97.90,64.800000,17.600000,100.000000,147.800000,61.200000,2169-05-08,16:00:00
...,...,...,...,...,...,...,...,...,...,...,...
1657,16178321,20904950,ed,97.60,83.214286,16.714286,95.923077,146.642857,73.071429,2161-04-07,16:00:00
1658,16178321,20904950,ed,NaN,78.500000,17.500000,97.000000,110.000000,55.500000,2161-04-08,00:00:00
1659,13105583,21899375,ed,98.00,76.000000,13.666667,99.000000,124.333333,81.666667,2178-10-01,00:00:00
1660,13293337,23590234,ed,98.45,81.800000,18.600000,98.200000,130.000000,78.500000,2144-04-13,08:00:00
1661,13293337,23590234,ed,98.90,72.600000,15.750000,97.600000,115.800000,67.200000,2144-04-13,16:00:00

In [7]:
final_table = df_chartevent.append([df_labevents, df_vital])

In [8]:
final_table

,subject_id,hadm_id,Department,date,time,Heart Rate (bpm),Heart rate Alarm - High (bpm),Heart Rate Alarm - Low (bpm),Arterial Blood Pressure systolic (mmHg),Arterial Blood Pressure diastolic (mmHg),...,"Total Nucleated Cells, Joint (Joint Fluid)","Total Nucleated Cells, Other (Other Body Fluid)","Total Nucleated Cells, Pleural (Pleural)",Absolute Lymphocyte Count (Blood).1,Mean_temperature,Mean_heartrate,Mean_resprate,Mean_o2sat,Mean_sbp,Mean_dbp
0,10004733,27411876,icu,2174-12-04,08:00:00,93.200000,130.0,50.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10004733,27411876,icu,2174-12-04,16:00:00,97.250000,130.0,50.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10004733,27411876,icu,2174-12-05,00:00:00,100.333333,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10004733,27411876,icu,2174-12-05,08:00:00,90.687500,120.0,50.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10004733,27411876,icu,2174-12-05,16:00:00,92.111111,120.0,50.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,16178321,20904950,ed,2161-04-07,16:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,97.60,83.214286,16.714286,95.923077,146.642857,73.071429
1658,16178321,20904950,ed,2161-04-08,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,78.500000,17.500000,97.000000,110.000000,55.500000
1659,13105583,21899375,ed,2178-10-01,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,98.00,76.000000,13.666667,99.000000,124.333333,81.666667
1660,13293337,23590234,ed,2144-04-13,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,98.45,81.800000,18.600000,98.200000,130.000000,78.500000
1661,13293337,23590234,ed,2144-04-13,16:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,98.90,72.600000,15.750000,97.600000,115.800000,67.200000

In [ ]:
#Εξαγωγή σε csv
final_table.to_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o18_final_table.csv', index=False)