In [1]:
"""
Απομονώνω από το αρχείο labevents.csv όπου περιλαμβάνει
τα εργαστηριακά αποτελέσματα τους ασθενείς με εγκεφαλικό

Έχοντας τμηματοποιήσει έξω από την python τον πίνακα labevents
σε τρεις διαφορετικούς πίνακες τους συγκρίνω και ενσωματώνω τα
στοιχεία τους στο "_______________________" όπου εμπεριέχονται
οι ασθενείς με εγκεφαλικό.




Στο σύνολο τους οι εγγραφές της labevent είναι 122.289.828
Από αυτές το 1.568.922 αναφέρονται στους ασθενείς με εγκεφαλικό που
έχουν εισαχθεί στις ΜΕΘ.
Οι 1.410.362 είναι εγγραφές που περιλαμβάνουν τιμές και όχι κείμενα.
Οι 1.276.856 είναι ομαδοποιημένες οι ίδιες εξετάσεις ανά οχτάωρο.
"""

'\nΑπομονώνω από το αρχείο labevents.csv όπου περιλαμβάνει\nτα εργαστηριακά αποτελέσματα τους ασθενείς με εγκεφαλικό\n\nΈχοντας τμηματοποιήσει έξω από την python τον πίνακα labevents\nσε τρεις διαφορετικούς πίνακες τους συγκρίνω και ενσωματώνω τα\nστοιχεία τους στο "_______________________" όπου εμπεριέχονται\nοι ασθενείς με εγκεφαλικό.\n\n\n\n\nΣτο σύνολο τους οι εγγραφές της labevent είναι 122.289.828\nΑπό αυτές το 1.568.922 αναφέρονται στους ασθενείς με εγκεφαλικό που\nέχουν εισαχθεί στις ΜΕΘ.\nΟι 1.410.362 είναι εγγραφές που περιλαμβάνουν τιμές και όχι κείμενα.\nΟι 1.276.856 είναι ομαδοποιημένες οι ίδιες εξετάσεις ανά οχτάωρο.\n'

In [2]:
import pandas as pd

In [3]:
df_patients = pd.read_csv('D:\Thesis\exports\o5_icu_unique_admissions.csv')

In [4]:
#Επεξεργασία πρώτου μέρους του αρχείου labevents
 
df_labevents = pd.read_csv('D:\MSc Aegean\Thesis\Split_Merge_tables\Splited_Labevents\labevents_0.csv')
df_labevents.columns = ["labevent_id", "subject_id", "hadm_id", "specimen_id", "itemid",
                        "charttime", "storetime", "value", "valuenum", "valueuom",
                        "ref_range_lower", "ref_range_upper", "flag", "priority", "comments"]

rslt_df=pd.merge(df_patients, df_labevents, on=['subject_id','hadm_id'])

rslt_df.to_csv('D:\Thesis\Split_Merge_tables\Merged_Labevents\cerebral_infarction_labevents_0.csv', index=False)

del (df_labevents, rslt_df) # Διαγραφή των dataframe για απελευθέρωση μνήμης.

C:\Users\Dimopoulos\AppData\Local\Temp\ipykernel_11008\727439730.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_labevents = pd.read_csv('D:\MSc Aegean\Thesis\Split_Merge_tables\Splited_Labevents\labevents_0.csv')

In [5]:
#Επεξεργασία δεύτερου μέρους του αρχείου labevents

df_labevents = pd.read_csv('D:\MSc Aegean\Thesis\Split_Merge_tables\Splited_Labevents\labevents_1.csv')
df_labevents.columns = ["labevent_id", "subject_id", "hadm_id", "specimen_id", "itemid",
                        "charttime", "storetime", "value", "valuenum", "valueuom",
                        "ref_range_lower", "ref_range_upper", "flag", "priority", "comments"]

rslt_df=pd.merge(df_patients, df_labevents, on=['subject_id','hadm_id'])

rslt_df.to_csv('D:\Thesis\Split_Merge_tables\Merged_Labevents\cerebral_infarction_labevents_1.csv', index=False)

del (df_labevents, rslt_df) # Διαγραφή των dataframe για απελευθέρωση μνήμης.

C:\Users\Dimopoulos\AppData\Local\Temp\ipykernel_11008\372392439.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_labevents = pd.read_csv('D:\MSc Aegean\Thesis\Split_Merge_tables\Splited_Labevents\labevents_1.csv')

In [6]:
#Επεξεργασία τρίτου μέρους του αρχείου labevents

df_labevents = pd.read_csv('D:\MSc Aegean\Thesis\Split_Merge_tables\Splited_Labevents\labevents_2.csv')
df_labevents.columns = ["labevent_id", "subject_id", "hadm_id", "specimen_id", "itemid",
                        "charttime", "storetime", "value", "valuenum", "valueuom",
                        "ref_range_lower", "ref_range_upper", "flag", "priority", "comments"]

rslt_df=pd.merge(df_patients, df_labevents, on=['subject_id','hadm_id'])

rslt_df.to_csv('D:\Thesis\Split_Merge_tables\Merged_Labevents\cerebral_infarction_labevents_2.csv', index=False)

del (df_labevents, rslt_df) # Διαγραφή των dataframe για απελευθέρωση μνήμης.

C:\Users\Dimopoulos\AppData\Local\Temp\ipykernel_11008\2118666401.py:3: DtypeWarning: Columns (7,9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_labevents = pd.read_csv('D:\MSc Aegean\Thesis\Split_Merge_tables\Splited_Labevents\labevents_2.csv')

In [7]:
df_labevents_0 = pd.read_csv('D:\Thesis\Split_Merge_tables\Merged_Labevents\cerebral_infarction_labevents_0.csv',
                             usecols = ["labevent_id", "subject_id", "hadm_id", "specimen_id", "itemid",
                                        "charttime", "storetime", "value", "valuenum", "valueuom",
                                        "ref_range_lower", "ref_range_upper", "flag", "priority", "comments"])

df_labevents_1 = pd.read_csv('D:\Thesis\Split_Merge_tables\Merged_Labevents\cerebral_infarction_labevents_1.csv',
                             usecols = ["labevent_id", "subject_id", "hadm_id", "specimen_id", "itemid",
                                        "charttime", "storetime", "value", "valuenum", "valueuom",
                                        "ref_range_lower", "ref_range_upper", "flag", "priority", "comments"])

df_labevents_2 = pd.read_csv('D:\Thesis\Split_Merge_tables\Merged_Labevents\cerebral_infarction_labevents_2.csv',
                             usecols = ["labevent_id", "subject_id", "hadm_id", "specimen_id", "itemid",
                                        "charttime", "storetime", "value", "valuenum", "valueuom",
                                        "ref_range_lower", "ref_range_upper", "flag", "priority", "comments"])

C:\Users\Dimopoulos\AppData\Local\Temp\ipykernel_11008\2799449485.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_labevents_0 = pd.read_csv('D:\Thesis\Split_Merge_tables\Merged_Labevents\cerebral_infarction_labevents_0.csv',
C:\Users\Dimopoulos\AppData\Local\Temp\ipykernel_11008\2799449485.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_labevents_1 = pd.read_csv('D:\Thesis\Split_Merge_tables\Merged_Labevents\cerebral_infarction_labevents_1.csv',

In [8]:
#Ενσωματώνουμε τα μέρη του labevent σε ένα αρχείο.
pd.concat(
    [df_labevents_0,
     df_labevents_1,
     df_labevents_2]).to_csv('D:\Thesis\exports\o13_icu_labevents.csv', index=False)

# Διαγραφή των dataframe για απελευθέρωση μνήμης.
del (df_labevents_0,
     df_labevents_1,
     df_labevents_2)

In [9]:
df_labevents = pd.read_csv('D:\Thesis\exports\o13_icu_labevents.csv')

C:\Users\Dimopoulos\AppData\Local\Temp\ipykernel_11008\2084326963.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_labevents = pd.read_csv('D:\Thesis\exports\o13_icu_labevents.csv')

In [10]:
# Μετατροπή της στήλης charttime από object σε datetime

df_labevents['charttime']= pd.to_datetime(df_labevents['charttime'])

In [11]:
#Απομονώνω τις γραμμές που δεν περιλαμβάνουν τιμές στην valuenum
df_labevents = df_labevents[df_labevents['valuenum'].notna()]

In [12]:
grouped_multiple = df_labevents.groupby(['subject_id', 'hadm_id', 'itemid',
                                         pd.Grouper(key='charttime',
                                                    freq='8H')]).agg({'valuenum': ['mean']})
grouped_multiple.columns = ['Mean_Lab']
grouped_multiple = grouped_multiple.reset_index()
grouped_multiple

         subject_id   hadm_id  itemid           charttime  Mean_Lab
0          10000980  26913865   50852 2189-06-28 08:00:00       6.8
1          10000980  26913865   50861 2189-06-28 08:00:00      12.0
2          10000980  26913865   50862 2189-06-28 08:00:00       4.1
3          10000980  26913865   50863 2189-06-28 08:00:00      61.0
4          10000980  26913865   50867 2189-06-28 08:00:00     120.0
...             ...       ...     ...                 ...       ...
2839928    19997473  27787494   52172 2173-09-28 00:00:00      55.0
2839929    19997473  27787494   52172 2173-09-29 00:00:00      53.1
2839930    19997473  27787494   52172 2173-09-30 00:00:00      51.7
2839931    19997473  27787494   52172 2173-10-01 00:00:00      53.0
2839932    19997473  27787494   52172 2173-10-02 00:00:00      52.3

[2839933 rows x 5 columns]

In [13]:
grouped_multiple.to_csv('D:\Thesis\exports\o14_labevents_grouped_8hours.csv', index=False)