In [1]:
import pandas as pd
import numpy as np

In [5]:
df_icu = pd.read_csv('D:\Thesis\exports\o31_ICU_final.csv')

In [3]:
df_icu = df_icu.drop(['subject_id', 'hadm_id', 'date', 'time', 'Department'], axis=1)

In [4]:
df_icu.to_csv('D:\Thesis\exports\o32_ICU_final_without_subject.csv', index=False)

In [14]:
df1 = df_icu.iloc[:107568]
df2 = df_icu.iloc[107568:]

In [18]:
df1

,Department,subject_id,hadm_id,date,time,Heart Rate (bpm),Respiratory Rate (insp/min),O2 saturation pulseoxymetry (%),Non Invasive Blood Pressure mean (mmHg),Non Invasive Blood Pressure systolic (mmHg),...,CD19 Absolute Count (Blood),CD20 % (Blood),CD20 Absolute Count (Blood),Promyelocytes (Pleural),CD19 (Other Body Fluid),CD3 (Other Body Fluid),CD34 (Other Body Fluid),"Bicarbonate, Stool (Stool)",Non-squamous Epithelial Cells (Urine),hospital_expire_flag
0,ICU,10000980,26913865,2189-06-27,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
1,ICU,10000980,26913865,2189-06-27,08:00:00,73.125,20.875000,99.625,100.75,146.625000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
2,ICU,10000980,26913865,2189-06-27,16:00:00,75.000,19.666667,97.000,89.00,131.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
3,ICU,10000980,26913865,2189-06-28,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
4,ICU,10000980,26913865,2189-06-28,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107563,ICU,16934201,20511019,2145-03-01,00:00:00,81.750,21.000000,96.750,90.50,127.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
107564,ICU,16934201,20511019,2145-03-01,08:00:00,80.000,23.375000,97.500,86.75,113.625000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
107565,ICU,16934201,20511019,2145-03-01,16:00:00,78.500,23.500000,94.750,69.75,106.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
107566,ICU,16934201,20511019,2145-03-02,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
107567,ICU,16934201,20511019,2145-03-03,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival

In [3]:
df_temp1 = df_icu[:107568]
df_temp2 = df_icu[-46085:]

In [7]:
df1 = df1.drop(['subject_id', 'hadm_id', 'date', 'time', 'Department'], axis=1)

df2 = df2.drop(['subject_id', 'hadm_id', 'date', 'time', 'Department'], axis=1)

In [9]:
df1.to_csv('D:\Thesis\exports\TrainII_70.csv', index=False)
df2.to_csv('D:\Thesis\exports\TestII_30.csv', index=False)