In [1]:
"""
Απομονώνω από το αρχείο labevents.csv όπου περιλαμβάνει
τα εργαστηριακά αποτελέσματα τους ασθενείς με εγκεφαλικό

Έχοντας τμηματοποιήσει έξω από την python τον πίνακα labevents
σε τρεις διαφορετικούς πίνακες τους συγκρίνω και ενσωματώνω τα
στοιχεία τους στο "o23_hosp_labevents_grouped_8hours.csv" όπου εμπεριέχονται
οι ασθενείς με εγκεφαλικό.

Στο σύνολο τους οι εγγραφές της labevent είναι 122.289.828
Από αυτές το  αναφέρονται στους ασθενείς με εγκεφαλικό που
έχουν εισαχθεί στα νοσοκομεία και όχι στις ΜΕΘ.

569.340 -> είναι ομαδοποιημένες οι ίδιες εξετάσεις ανά οχτάωρο.
"""

In [2]:
import pandas as pd

In [3]:
df_patients = pd.read_csv('D:\Thesis\exports\o21_only_hosp_patients.csv')

In [4]:
#Επεξεργασία πρώτου μέρους του αρχείου labevents
 
df_labevents = pd.read_csv('D:\Thesis\Split_Merge_tables\Splited_Labevents\labevents_0.csv')
df_labevents.columns = ["labevent_id", "subject_id", "hadm_id", "specimen_id", "itemid",
                        "charttime", "storetime", "value", "valuenum", "valueuom",
                        "ref_range_lower", "ref_range_upper", "flag", "priority", "comments"]

rslt_df=pd.merge(df_patients, df_labevents, on=['subject_id','hadm_id'])

rslt_df.to_csv('D:\Thesis\Split_Merge_tables\Merged_Labevents\hosp\cerebral_infarction_labevents_0.csv', index=False)

del (df_labevents, rslt_df) # Διαγραφή των dataframe για απελευθέρωση μνήμης.

C:\Users\Dimopoulos\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
#Επεξεργασία δεύτερου μέρους του αρχείου labevents

df_labevents = pd.read_csv('D:\Thesis\Split_Merge_tables\Splited_Labevents\labevents_1.csv')
df_labevents.columns = ["labevent_id", "subject_id", "hadm_id", "specimen_id", "itemid",
                        "charttime", "storetime", "value", "valuenum", "valueuom",
                        "ref_range_lower", "ref_range_upper", "flag", "priority", "comments"]

rslt_df=pd.merge(df_patients, df_labevents, on=['subject_id','hadm_id'])

rslt_df.to_csv('D:\Thesis\Split_Merge_tables\Merged_Labevents\hosp\cerebral_infarction_labevents_1.csv', index=False)

del (df_labevents, rslt_df) # Διαγραφή των dataframe για απελευθέρωση μνήμης.

In [6]:
#Επεξεργασία τρίτου μέρους του αρχείου labevents

df_labevents = pd.read_csv('D:\Thesis\Split_Merge_tables\Splited_Labevents\labevents_2.csv')
df_labevents.columns = ["labevent_id", "subject_id", "hadm_id", "specimen_id", "itemid",
                        "charttime", "storetime", "value", "valuenum", "valueuom",
                        "ref_range_lower", "ref_range_upper", "flag", "priority", "comments"]

rslt_df=pd.merge(df_patients, df_labevents, on=['subject_id','hadm_id'])

rslt_df.to_csv('D:\Thesis\Split_Merge_tables\Merged_Labevents\hosp\cerebral_infarction_labevents_2.csv', index=False)

del (df_labevents, rslt_df) # Διαγραφή των dataframe για απελευθέρωση μνήμης.

C:\Users\Dimopoulos\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7,9,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df_labevents_0 = pd.read_csv('D:\Thesis\Split_Merge_tables\Merged_Labevents\hosp\cerebral_infarction_labevents_0.csv',
                             usecols = ["labevent_id", "subject_id", "hadm_id", "specimen_id", "itemid",
                                        "charttime", "storetime", "value", "valuenum", "valueuom",
                                        "ref_range_lower", "ref_range_upper", "flag", "priority", "comments"])

df_labevents_1 = pd.read_csv('D:\Thesis\Split_Merge_tables\Merged_Labevents\hosp\cerebral_infarction_labevents_1.csv',
                             usecols = ["labevent_id", "subject_id", "hadm_id", "specimen_id", "itemid",
                                        "charttime", "storetime", "value", "valuenum", "valueuom",
                                        "ref_range_lower", "ref_range_upper", "flag", "priority", "comments"])

df_labevents_2 = pd.read_csv('D:\Thesis\Split_Merge_tables\Merged_Labevents\hosp\cerebral_infarction_labevents_2.csv',
                             usecols = ["labevent_id", "subject_id", "hadm_id", "specimen_id", "itemid",
                                        "charttime", "storetime", "value", "valuenum", "valueuom",
                                        "ref_range_lower", "ref_range_upper", "flag", "priority", "comments"])

C:\Users\Dimopoulos\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
#Ενσωματώνουμε τα μέρη του labevent σε ένα αρχείο.
pd.concat(
    [df_labevents_0,
     df_labevents_1,
     df_labevents_2]).to_csv('D:\Thesis\exports\o22_hosp_labevents.csv', index=False)

# Διαγραφή των dataframe για απελευθέρωση μνήμης.
del (df_labevents_0,
     df_labevents_1,
     df_labevents_2)

In [9]:
df_labevents = pd.read_csv('D:\Thesis\exports\o22_hosp_labevents.csv')

In [10]:
# Μετατροπή της στήλης charttime από object σε datetime

df_labevents['charttime']= pd.to_datetime(df_labevents['charttime'])

In [11]:
#Απομονώνω τις γραμμές που δεν περιλαμβάνουν τιμές στην valuenum
df_labevents = df_labevents[df_labevents['valuenum'].notna()]

In [12]:
grouped_multiple = df_labevents.groupby(['subject_id', 'hadm_id', 'itemid',
                                         pd.Grouper(key='charttime',
                                                    freq='8H')]).agg({'valuenum': ['mean']})
grouped_multiple.columns = ['Mean_Lab']
grouped_multiple = grouped_multiple.reset_index()
grouped_multiple

        subject_id   hadm_id  itemid           charttime  Mean_Lab
0         10001877  25679292   50852 2149-05-22 08:00:00     7.700
1         10001877  25679292   50862 2149-05-23 00:00:00     3.200
2         10001877  25679292   50868 2149-05-22 00:00:00    11.000
3         10001877  25679292   50868 2149-05-23 00:00:00     8.000
4         10001877  25679292   50868 2149-05-24 00:00:00     9.000
...            ...       ...     ...                 ...       ...
569335    19999840  26071774   51491 2164-07-25 00:00:00     5.000
569336    19999840  26071774   51493 2164-07-25 00:00:00    29.000
569337    19999840  26071774   51498 2164-07-24 16:00:00     1.010
569338    19999840  26071774   51498 2164-07-25 00:00:00     1.007
569339    19999840  26071774   51516 2164-07-25 00:00:00     5.000

[569340 rows x 5 columns]

In [13]:
grouped_multiple.to_csv('D:\Thesis\exports\o23_hosp_labevents_grouped_8hours.csv', index=False)