## Εισαγωγή στήλης θνησιμότητας στην ICU

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_icu = pd.read_csv('D:\Thesis\exports\o20_ICU_merged_chart_lab.csv')

df_death= pd.read_csv('D:\Thesis\mimic-iv-1.0\core\Admissions.csv.gz', usecols = ['subject_id', 'hadm_id', 'hospital_expire_flag'])

df_death = df_death.loc[df_death['hospital_expire_flag'] == 1]

In [3]:
df_death

        subject_id   hadm_id  hospital_expire_flag
344       12585214  26152521                     1
484       19277681  23931925                     1
573       14659585  24219030                     1
758       19297170  29732017                     1
858       15745369  20349939                     1
...            ...       ...                   ...
523449    15152579  26248295                     1
523451    15543664  29639411                     1
523539    15476956  22615825                     1
523600    10746298  21643256                     1
523613    15724368  20127441                     1

[9350 rows x 3 columns]

In [4]:
# Ενοποιώ τα dataframes του συνολικού πίνακα με της θνησιμότητας.

df_rslt=pd.merge(df_icu, df_death, on=['subject_id','hadm_id'],
              how="left", suffixes=('', '_delme'))

In [5]:
df_rslt

,Department,subject_id,hadm_id,date,time,Heart Rate (bpm),Respiratory Rate (insp/min),O2 saturation pulseoxymetry (%),Non Invasive Blood Pressure mean (mmHg),Non Invasive Blood Pressure systolic (mmHg),...,Polys (Cerebrospinal Fluid),Promyelocytes (Cerebrospinal Fluid),"RBC, CSF (Cerebrospinal Fluid)","Total Nucleated Cells, CSF (Cerebrospinal Fluid)","Total Nucleated Cells, Joint (Joint Fluid)",Lining Cell (Other Body Fluid),"Total Nucleated Cells, Other (Other Body Fluid)","Total Nucleated Cells, Pleural (Pleural)",Absolute Lymphocyte Count (Blood).1,hospital_expire_flag
0,ICU,10000980,26913865,2189-06-27,08:00:00,73.125,20.875000,99.625,100.750000,146.625000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ICU,10000980,26913865,2189-06-27,16:00:00,75.000,19.666667,97.000,89.000000,131.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ICU,10000980,26913865,2189-06-27,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ICU,10002155,23822395,2129-08-04,08:00:00,74.500,16.250000,94.250,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ICU,10002155,23822395,2129-08-04,16:00:00,74.500,15.250000,91.250,75.142857,120.142857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153648,ICU,19997473,27787494,2173-09-30,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153649,ICU,19997473,27787494,2173-09-30,16:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153650,ICU,19997473,27787494,2173-10-01,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153651,ICU,19997473,27787494,2173-10-01,16:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153652,ICU,19997473,27787494,2173-10-02,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Εισάγω την τιμή μηδέν στα κενά κελιά της hospital_expire_flag
df_rslt[['hospital_expire_flag']] = df_rslt[['hospital_expire_flag']].fillna(0)

# Μετατρέπω την στήλη hospital_expire_flag σε ακέραιο.
df_rslt['hospital_expire_flag'] = df_rslt['hospital_expire_flag'].apply(int)

In [7]:
"""
Αντικατάσταση τιμών από μηδέν σε
survival και από ένα σε death
στην στήλη hospital_expire_flag
"""

#df_rslt = df_rslt["hospital_expire_flag"].replace({0 : "survival", 1 :"death"}, inplace = True)


df_rslt["hospital_expire_flag"] = np.where(df_rslt["hospital_expire_flag"] == 0, "survival", "death")

In [8]:
#Εξαγωγή σε csv
df_rslt.to_csv('D:\Thesis\exports\o31_ICU_final.csv', index=False)