In [1]:
"""
Το chartevent αποτελείται από 9.874.474
εγγραφές που αφορούν τους ασθενείς με εγκεφαλικό

Οι καταγραφές αυτές ομαδοποιήθηκαν και υπολογίσαμε
τον μέσο όρο για την κάθε μια από αυτές μέσα στο 8ώρο
όπου και ανήλθαν στα 4.177.458 εγγραφές 
"""

'\nΤο chartevent αποτελείται από 9.874.474\nεγγραφές που αφορούν τους ασθενείς με εγκεφαλικό\n\nΟι καταγραφές αυτές ομαδοποιήθηκαν και υπολογίσαμε\nτον μέσο όρο για την κάθε μια από αυτές μέσα στο 8ώρο\nόπου και ανήλθαν στα 4.177.458 εγγραφές \n'

In [1]:
import pandas as pd

In [2]:
df_patients_chart = pd.read_csv('D:\Thesis\exports\o7_patient_chartevent_without_nan.csv')

In [9]:
grouped_multiple

         subject_id   hadm_id  itemid           charttime  Mean_Chart
0          10004733  27411876  220045 2174-12-04 08:00:00   93.200000
1          10004733  27411876  220045 2174-12-04 16:00:00   97.250000
2          10004733  27411876  220045 2174-12-05 00:00:00  100.333333
3          10004733  27411876  220045 2174-12-05 08:00:00   90.687500
4          10004733  27411876  220045 2174-12-05 16:00:00   92.111111
...             ...       ...     ...                 ...         ...
4177453    19999987  23865745  228412 2145-11-04 00:00:00    5.000000
4177454    19999987  23865745  228412 2145-11-04 08:00:00    5.000000
4177455    19999987  23865745  228412 2145-11-04 16:00:00    5.000000
4177456    19999987  23865745  228648 2145-11-03 00:00:00    0.000000
4177457    19999987  23865745  228649 2145-11-03 00:00:00    0.000000

[4177458 rows x 5 columns]

In [5]:
# Μετατροπή της στήλης charttime από object σε datetime

df_patients_chart['charttime']= pd.to_datetime(df_patients_chart['charttime'])

In [7]:
# Ομαδοποίηση στοιχείων ανά οχτάωρο
grouped_multiple = (df_patients_chart.groupby(['subject_id',
                                               'hadm_id',
                                               'itemid',
                                               pd.Grouper(key='charttime',
                                                          freq='8H')]).agg({'valuenum': ['mean']}))
grouped_multiple.columns = ['Mean_Chart']
grouped_multiple = grouped_multiple.reset_index()

In [6]:
#Διαχωρισμός σε δυο καινούργιες στήλες της ημερομηνίας και ώρας
grouped_multiple['date'] = pd.to_datetime(grouped_multiple['charttime']).dt.date
grouped_multiple['time'] = pd.to_datetime(grouped_multiple['charttime']).dt.time

In [7]:
grouped_multiple.to_csv('D:\Thesis\exports\o9_chartevent_8_hour_mean.csv', index=False)