## Εισαγωγή στήλης θνησιμότητας στην ICU

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_icu = pd.read_csv('D:\Thesis\exports\o20_ICU_merged_chart_lab.csv')

df_death= pd.read_csv('D:\Thesis\mimic-iv-1.0\core\Admissions.csv.gz', usecols = ['subject_id', 'hadm_id', 'hospital_expire_flag'])

df_death = df_death.loc[df_death['hospital_expire_flag'] == 1]

In [3]:
# Ενοποιώ τα dataframes του συνολικού πίνακα με της θνησιμότητας.

df_rslt=pd.merge(df_icu, df_death, on=['subject_id','hadm_id'],
              how="left", suffixes=('', '_delme'))

In [4]:
# Εισάγω την τιμή μηδέν στα κενά κελιά της hospital_expire_flag
df_rslt[['hospital_expire_flag']] = df_rslt[['hospital_expire_flag']].fillna(0)

# Μετατρέπω την στήλη hospital_expire_flag σε ακέραιο.
df_rslt['hospital_expire_flag'] = df_rslt['hospital_expire_flag'].apply(int)

In [5]:
"""
Αντικατάσταση τιμών από μηδέν σε
survival και από ένα σε death
στην στήλη hospital_expire_flag
"""

#df_rslt = df_rslt["hospital_expire_flag"].replace({0 : "survival", 1 :"death"}, inplace = True)


df_rslt["hospital_expire_flag"] = np.where(df_rslt["hospital_expire_flag"] == 0, "survival", "death")

## Στοίχιση πίνακα

In [6]:
"""
Μετατροπή του date από object σε date για να
μπορέσει να εκτελεστεί η στοίχιση που ακολουθεί.
"""
df_rslt['date'] = pd.to_datetime(df_rslt.date)

In [7]:
df_rslt = df_rslt.sort_values(by=["subject_id", "date", "time"], ascending=[True, True, True])

In [8]:
#Εξαγωγή σε csv
df_rslt.to_csv('D:\Thesis\exports\o31_ICU_final.csv', index=False)

# Από εδώ και κάτω είναι για την παραγωγή του CSV της Βίκυς

In [27]:
temp=df_rslt.tail(27249)

In [29]:
temp.to_csv('D:\Thesis\exports\o31_ICU_final.csv', index=False)

In [36]:
temp = pd.read_csv('D:\Thesis\exports\o31_ICU_final.csv')

In [37]:
temp

,Department,subject_id,hadm_id,date,time,Heart Rate (bpm),Respiratory Rate (insp/min),O2 saturation pulseoxymetry (%),Non Invasive Blood Pressure systolic (mmHg),Non Invasive Blood Pressure diastolic (mmHg),...,Plasma (Cerebrospinal Fluid),Polys (Cerebrospinal Fluid),Promyelocytes (Cerebrospinal Fluid),"RBC, CSF (Cerebrospinal Fluid)","Total Nucleated Cells, CSF (Cerebrospinal Fluid)","Total Nucleated Cells, Joint (Joint Fluid)","Total Nucleated Cells, Other (Other Body Fluid)","Total Nucleated Cells, Pleural (Pleural)",Absolute Lymphocyte Count (Blood).1,hospital_expire_flag
0,ICU,17065769,25191753,2179-09-22,16:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
1,ICU,17065769,25191753,2179-09-23,08:00:00,82.333333,17.500000,100.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
2,ICU,17065769,25191753,2179-09-23,16:00:00,93.214286,17.214286,99.642857,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
3,ICU,17065769,25191753,2179-09-24,00:00:00,93.555556,18.555556,97.555556,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
4,ICU,17065769,25191753,2179-09-24,08:00:00,91.125000,22.625000,95.750000,129.000000,76.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27244,ICU,19999987,23865745,2145-11-04,16:00:00,92.500000,22.250000,98.750000,152.666667,106.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
27245,ICU,19999987,23865745,2145-11-05,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
27246,ICU,19999987,23865745,2145-11-06,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
27247,ICU,19999987,23865745,2145-11-07,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
27248,ICU,19999987,23865745,2145-11-09,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival

In [34]:
eight_hours = pd.read_csv('D:\Thesis\exports\eight_hours.csv')

In [35]:
eight_hours

       eight_hours
0                1
1                2
2                3
3                4
4                5
...            ...
27244            7
27245            8
27246            9
27247           10
27248           11

[27249 rows x 1 columns]

In [38]:
rslt_df=pd.merge(temp, eight_hours, left_index=True, right_index=True)

In [42]:
rslt_df

,eight_hours,Department,subject_id,hadm_id,date,time,Heart Rate (bpm),Respiratory Rate (insp/min),O2 saturation pulseoxymetry (%),Non Invasive Blood Pressure systolic (mmHg),...,Plasma (Cerebrospinal Fluid),Polys (Cerebrospinal Fluid),Promyelocytes (Cerebrospinal Fluid),"RBC, CSF (Cerebrospinal Fluid)","Total Nucleated Cells, CSF (Cerebrospinal Fluid)","Total Nucleated Cells, Joint (Joint Fluid)","Total Nucleated Cells, Other (Other Body Fluid)","Total Nucleated Cells, Pleural (Pleural)",Absolute Lymphocyte Count (Blood).1,hospital_expire_flag
0,1,ICU,17065769,25191753,2179-09-22,16:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
1,2,ICU,17065769,25191753,2179-09-23,08:00:00,82.333333,17.500000,100.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
2,3,ICU,17065769,25191753,2179-09-23,16:00:00,93.214286,17.214286,99.642857,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
3,4,ICU,17065769,25191753,2179-09-24,00:00:00,93.555556,18.555556,97.555556,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
4,5,ICU,17065769,25191753,2179-09-24,08:00:00,91.125000,22.625000,95.750000,129.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27244,7,ICU,19999987,23865745,2145-11-04,16:00:00,92.500000,22.250000,98.750000,152.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
27245,8,ICU,19999987,23865745,2145-11-05,00:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
27246,9,ICU,19999987,23865745,2145-11-06,08:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
27247,10,ICU,19999987,23865745,2145-11-07,00:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
27248,11,ICU,19999987,23865745,2145-11-09,00:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival

In [41]:
# Φέρνω τις τελευταίες στήλες, πρώτες
cols = list(rslt_df.columns)
cols = [cols[-1]] + cols[:-1]
rslt_df = rslt_df[cols]

In [44]:
tempII = rslt_df.loc[rslt_df['eight_hours'] == 1]

In [45]:
tempII

,eight_hours,Department,subject_id,hadm_id,date,time,Heart Rate (bpm),Respiratory Rate (insp/min),O2 saturation pulseoxymetry (%),Non Invasive Blood Pressure systolic (mmHg),...,Plasma (Cerebrospinal Fluid),Polys (Cerebrospinal Fluid),Promyelocytes (Cerebrospinal Fluid),"RBC, CSF (Cerebrospinal Fluid)","Total Nucleated Cells, CSF (Cerebrospinal Fluid)","Total Nucleated Cells, Joint (Joint Fluid)","Total Nucleated Cells, Other (Other Body Fluid)","Total Nucleated Cells, Pleural (Pleural)",Absolute Lymphocyte Count (Blood).1,hospital_expire_flag
0,1,ICU,17065769,25191753,2179-09-22,16:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
40,1,ICU,17070504,23490357,2162-11-15,16:00:00,85.333333,15.500000,98.166667,122.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
47,1,ICU,17072318,22666396,2143-11-23,08:00:00,90.000000,19.500000,100.000000,130.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
49,1,ICU,17074638,25638262,2171-11-06,08:00:00,69.375000,19.312500,99.400000,129.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
149,1,ICU,17074879,26213899,2176-04-16,16:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27167,1,ICU,19992885,20352341,2152-07-17,08:00:00,65.076923,11.461538,100.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,death
27190,1,ICU,19994233,29338696,2184-02-10,16:00:00,67.000000,17.500000,97.000000,134.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
27200,1,ICU,19997293,26366652,2123-11-17,00:00:00,39.000000,22.500000,97.000000,100.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
27209,1,ICU,19999442,26785317,2148-11-19,08:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
27238,1,ICU,19999987,23865745,2145-11-02,16:00:00,95.000000,21.000000,99.000000,115.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival

In [47]:
Final = tempII.drop_duplicates(subset=['subject_id'])

In [50]:
Final.to_csv('D:\Thesis\exports\eight_hours_unique.csv', index=False)