In [1]:
import pandas as pd

In [2]:
df_tables = pd.read_csv('D:\Thesis\exports\o30_ED_HOSP_ICU_merged.csv')

In [3]:
df_tables.isna().sum().sum()

136381838

In [8]:
df_tables.loc[(df_tables['Specific_Mortality'] == 1) & (df_tables['Department'] == 'ED')]

,Mortality,Specific_Mortality,Department,subject_id,hadm_id,date,time,Heart Rate (bpm),Respiratory Rate (insp/min),O2 saturation pulseoxymetry (%),...,"Total Protein, Joint Fluid (Joint Fluid)",NonSquamous Epithelial Cell (Urine),"Reducing Substances, Urine (Urine)",<Albumin> (Cerebrospinal Fluid),Mean_temperature,Mean_heartrate,Mean_resprate,Mean_o2sat,Mean_sbp,Mean_dbp
125231,1,1.0,ED,12287535,21494174,2132-06-19,08:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,100.5,80.833333,23.166667,94.875000,128.500000,68.166667
125410,1,1.0,ED,18208117,24530240,2196-08-09,16:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,97.8,89.000000,18.000000,99.000000,153.500000,50.000000
125608,1,1.0,ED,14102713,26118310,2151-07-23,16:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,70.000000,20.000000,94.000000,NaN,NaN
125614,1,1.0,ED,14385332,26342089,2174-10-19,00:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,68.142857,16.142857,98.000000,112.571429,63.285714
126149,1,1.0,ED,19848900,21639924,2144-09-29,16:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,98.7,48.400000,15.900000,100.000000,185.800000,66.800000
126226,1,1.0,ED,12118241,23078710,2123-10-28,16:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,98.2,62.333333,15.400000,99.500000,144.833333,62.833333
126346,1,1.0,ED,16056287,23508556,2140-05-23,08:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,56.714286,18.857143,100.000000,148.571429,82.000000
126638,1,1.0,ED,15970043,21661917,2182-11-20,00:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,97.000000,18.000000,100.000000,171.000000,98.000000
126653,1,1.0,ED,16327028,27603923,2128-07-05,00:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,98.9,79.166667,16.666667,94.500000,156.166667,74.833333
127199,1,1.0,ED,13233936,20699848,2137-05-03,00:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,97.5,98.500000,19.000000,96.500000,121.000000,74.000000
127273,1,1.0,ED,15111957,29442659,2119-11-30,16:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,98.3,94.250000,16.250000,95.428571,113.625000,69.625000
127543,1,1.0,ED,13013332,29359746,2170-10-20,16:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,97.3,96.000000,16.000000,NaN,108.000000,62.000000

In [3]:
source_path = "D:\Thesis\mimic-iv-1.0\icu\chartevents.csv"
for i,chunk in enumerate(pd.read_csv(source_path, chunksize=100000, dtype=dtypes)):
    chunk.to_csv('D:\Thesis\chunk{}.csv'.format(i), index=False)

NameError: name 'dtypes' is not defined