In [1]:
"""
Δημιουργώ τέσσερις ξεχωριστούς πίνακες με τα στοιχεία
mean, min, max, std.
Χρησιμοποιώ το αρχείο o7_patient_chartevent_without_nan
όπου εμπεριέχει τις ωριαίες καταγραφές των ασθενών που έχουν
εισαχθεί στις μονάδες εντατικής θεραπείας
"""

'\nΔημιουργώ τέσσερις ξεχωριστούς πίνακες με τα στοιχεία\nmean, min, max, std.\nΧρησιμοποιώ το αρχείο o7_patient_chartevent_without_nan\nόπου εμπεριέχει τις ωριαίες καταγραφές των ασθενών που έχουν\nεισαχθεί στις μονάδες εντατικής θεραπείας\n'

In [2]:
import pandas as pd
time = '3H'

In [3]:
# CSV με τα chartevent των ασθενών
df_patients_chart = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o7_patient_chartevent_without_nan.csv')


# Μετατροπή της στήλης charttime από object σε datetime
df_patients_chart['charttime']= pd.to_datetime(df_patients_chart['charttime'])

# Στοίχιση στοιχείων
df_patients_chart = df_patients_chart.sort_values(by=['hadm_id', 'subject_id', 'charttime'])

In [4]:
df_patients_chart

,subject_id,hadm_id,stay_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
3226926,19244907,20005119,36288584,2112-11-08 20:26:00,2112-12-03 17:24:00,226512,57.2,57.2,kg,0
3226927,19244907,20005119,36288584,2112-11-08 20:26:00,2112-12-03 17:24:00,226707,65,65.0,Inch,0
3226928,19244907,20005119,36288584,2112-11-08 20:26:00,2112-12-03 17:24:00,226730,165.1,165.1,cm,0
3214357,19244907,20005119,36288584,2112-11-08 23:00:00,2112-11-09 01:46:00,224639,57.2,57.2,kg,0
3214358,19244907,20005119,36288584,2112-11-08 23:39:00,2112-11-08 23:44:00,220045,59.0,59.0,bpm,0
...,...,...,...,...,...,...,...,...,...,...
9470625,15129243,29999098,33475199,2128-06-21 02:00:00,2128-06-21 02:08:00,220277,94.0,94.0,%,0
9470626,15129243,29999098,33475199,2128-06-21 02:00:00,2128-06-21 02:08:00,220765,14.0,14.0,mmHg,0
9470627,15129243,29999098,33475199,2128-06-21 02:00:00,2128-06-21 02:08:00,225664,193.0,193.0,NaN,0
9470628,15129243,29999098,33475199,2128-06-21 02:00:00,2128-06-21 02:08:00,227066,70.0,70.0,mmHg,0
9470629,15129243,29999098,33475199,2128-06-21 03:00:00,2128-06-21 02:49:00,225664,218.0,218.0,NaN,0

In [5]:
# Μέση τιμή (mean) ανά την ώρα που έχω ορίσει στην μεταβλητή time 
grouped_multiple = (df_patients_chart.groupby(['subject_id',
                                               'hadm_id',
                                               'itemid',
                                               pd.Grouper(key='charttime',
                                                          freq=time)]).agg({'valuenum': ['mean']}))
grouped_multiple.columns = ['Mean_Chart']
grouped_multiple = grouped_multiple.reset_index()

#Διαχωρισμός σε δυο καινούργιες στήλες της ημερομηνίας και ώρας
grouped_multiple['date'] = pd.to_datetime(grouped_multiple['charttime']).dt.date
grouped_multiple['time'] = pd.to_datetime(grouped_multiple['charttime']).dt.time

# drop column charttime
grouped_multiple.drop('charttime', axis=1, inplace=True)

# csv export
grouped_multiple.to_csv('D:\Papers\Cyprus_Paper\Data\o8_chartevent_24_hour_mean.csv', index=False)


# Μικρότερη τιμή (min) ανά την ώρα που έχω ορίσει στην μεταβλητή time.
grouped_multiple = (df_patients_chart.groupby(['subject_id',
                                               'hadm_id',
                                               'itemid',
                                               pd.Grouper(key='charttime',
                                                          freq=time)]).agg({'valuenum': ['min']}))
grouped_multiple.columns = ['Min_Chart']
grouped_multiple = grouped_multiple.reset_index()

#Διαχωρισμός σε δυο καινούργιες στήλες της ημερομηνίας και ώρας
grouped_multiple['date'] = pd.to_datetime(grouped_multiple['charttime']).dt.date
grouped_multiple['time'] = pd.to_datetime(grouped_multiple['charttime']).dt.time

# drop column charttime
grouped_multiple.drop('charttime', axis=1, inplace=True)

# csv export
grouped_multiple.to_csv('D:\Papers\Cyprus_Paper\Data\o9_chartevent_24_hour_min.csv', index=False)


# Μέγιστη τιμή (max) ανά την ώρα που έχω ορίσει στην μεταβλητή time 
grouped_multiple = (df_patients_chart.groupby(['subject_id',
                                               'hadm_id',
                                               'itemid',
                                               pd.Grouper(key='charttime',
                                                          freq=time)]).agg({'valuenum': ['max']}))
grouped_multiple.columns = ['Max_Chart']
grouped_multiple = grouped_multiple.reset_index()

#Διαχωρισμός σε δυο καινούργιες στήλες της ημερομηνίας και ώρας
grouped_multiple['date'] = pd.to_datetime(grouped_multiple['charttime']).dt.date
grouped_multiple['time'] = pd.to_datetime(grouped_multiple['charttime']).dt.time

# drop column charttime
grouped_multiple.drop('charttime', axis=1, inplace=True)

# csv export
grouped_multiple.to_csv('D:\Papers\Cyprus_Paper\Data\o10_chartevent_24_hour_max.csv', index=False)


# Τυπική απόκλιση (std) ανά την ώρα που έχω ορίσει στην μεταβλητή time
grouped_multiple = (df_patients_chart.groupby(['subject_id',
                                               'hadm_id',
                                               'itemid',
                                               pd.Grouper(key='charttime',
                                                          freq=time)]).agg({'valuenum': ['std']}))
grouped_multiple.columns = ['StdDev_Chart']
grouped_multiple = grouped_multiple.reset_index()

#Διαχωρισμός σε δυο καινούργιες στήλες της ημερομηνίας και ώρας
grouped_multiple['date'] = pd.to_datetime(grouped_multiple['charttime']).dt.date
grouped_multiple['time'] = pd.to_datetime(grouped_multiple['charttime']).dt.time

# drop column charttime
grouped_multiple.drop('charttime', axis=1, inplace=True)

# csv export
grouped_multiple.to_csv('D:\Papers\Cyprus_Paper\Data\o11_chartevent_24_hour_std.csv', index=False)

In [6]:
df_patients_mean = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o8_chartevent_24_hour_mean.csv')
df_patients_min = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o9_chartevent_24_hour_min.csv')
df_patients_max = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o10_chartevent_24_hour_max.csv')
df_patients_std = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o11_chartevent_24_hour_std.csv')