In [1]:
import pandas as pd

In [2]:
df_chart_tbl = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o13_empty_chart_mean_tbl.csv', index_col=False)
df_mean_chart = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o8_chartevent_24_hour_mean.csv', index_col=False)
df_data_chart = pd.read_csv('D:\MSc Aegean\Thesis\mimic-iv-1.0\icu\d_items.csv.gz')

In [5]:
"""
Δημιουργώ εκ νέου την στήλη concat
χωρίς κενά ανάμεσα στα στοιχεία.
Θα χρησιμοποιήσω αυτή τη στήλη σαν
index γιατί τα κενά μπορεί να
δημιουργήσουν πρόβλημα.
"""
df_chart_tbl["concat"] = (df_chart_tbl["subject_id"].astype(str)
                          + df_chart_tbl["hadm_id"].astype(str)
                          + df_chart_tbl["charttime"].astype(str))

"""
Αφαιρώ τους χαρακτήρες - και :
από της τιμές της concat για να
αποφύγω πιθανά προβλήματα
"""
df_chart_tbl['concat'] = df_chart_tbl['concat'].str.replace('-','')
df_chart_tbl['concat'] = df_chart_tbl['concat'].str.replace(':','')

In [6]:
# Ορίζω την στήλη concat ως index των γραμμών
df_chart_tbl = df_chart_tbl.set_index('concat')

In [7]:
"""
Δημιουργώ την στήλη concat και στον πίνακα
που περιλαμβάνει τις μετρήσεις για να είναι
το κοινό σημείο ανάμεσα στους δυο πίνακες
"""
df_mean_chart["concat"] = (df_mean_chart["subject_id"].astype(str)
                           + df_mean_chart["hadm_id"].astype(str)
                           + df_mean_chart["charttime"].astype(str))


"""
Αφαιρώ τους χαρακτήρες - και :
από της τιμές της concat για να
αποφύγω πιθανά προβλήματα
"""
df_mean_chart['concat'] = df_mean_chart['concat'].str.replace('-','')
df_mean_chart['concat'] = df_mean_chart['concat'].str.replace(':','')

In [8]:
# Γεμίζω τον πίνακα
for row in df_mean_chart.itertuples():
    con = row.concat
    item = row.itemid
    value = row.Mean_Chart
    df_chart_tbl.at['{}'.format(con), '{}'.format(item)] = value

In [10]:
# Αποθήκευση του τελικού αρχείου με επικεφαλίδες τους κωδικούς των παρατηρήσεων
df_chart_tbl.to_csv('D:\Papers\Cyprus_Paper\Data\o17_fill_chart_mean_itemid_header_tbl.csv', index=False)

In [11]:
df_data_chart = df_data_chart.set_index('itemid')

In [13]:
# Ενοποίηση τιμών σε κελιά
df_data_chart["header"] = ("Mean - "
                           + df_data_chart["label"].astype(str)
                           + " ("
                           + df_data_chart["unitname"].astype(str)
                           + ")")

In [14]:
"""
Ελέγχω τις κεφαλίδες και αν δεν ανήκουν στις
τέσσερις πρώτες τιμές κάνω τις αντικατάσταση.
"""
for col in df_chart_tbl.columns:
    if ((col != 'subject_id') and
        (col != 'hadm_id') and
        (col != 'charttime')):
        temp = (df_data_chart.loc[int(col), 'header'])
        df_chart_tbl.rename(columns={'{}'.format(col): '{}'.format(temp)}, inplace=True)

In [15]:
df_chart_tbl

,subject_id,hadm_id,charttime,Mean - Heart Rate (bpm),Mean - Respiratory Rate (insp/min),Mean - O2 saturation pulseoxymetry (%),Mean - Non Invasive Blood Pressure systolic (mmHg),Mean - Non Invasive Blood Pressure diastolic (mmHg),Mean - Non Invasive Blood Pressure mean (mmHg),Mean - Arterial Blood Pressure mean (mmHg),...,Mean - Resistance (cmH2O/L/seconds),Mean - ABI Ankle BP L (mmHg),Mean - ABI Brachial BP R (mmHg),Mean - ITBVI (PiCCO) (mL/m2),Mean - Patient/Family Informed_V1 (nan),Mean - Pheresis Catheter Line Tip Cultured (nan),Mean - Triple Introducer Line Tip Cultured (nan),Mean - Depth at which wedge obtained (PA Line) (cm),Mean - Clot Size (cm) (cm),Mean - Resting Energy Expenditure (kcal/day)
concat,,,,,,,,,,,,,,,,,,,,,
100047332741187621741204,10004733,27411876,2174-12-04,95.692308,19.461538,97.615385,159.000000,94.583333,109.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100047332741187621741205,10004733,27411876,2174-12-05,92.680000,19.880000,95.240000,148.680000,70.060000,87.140000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100047332741187621741206,10004733,27411876,2174-12-06,90.833333,12.291667,96.250000,136.041667,74.666667,87.458333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100047332741187621741207,10004733,27411876,2174-12-07,72.838710,13.516129,97.645161,147.000000,90.555556,103.259259,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100047332741187621741208,10004733,27411876,2174-12-08,94.090909,18.045455,96.318182,178.340909,106.409091,123.409091,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994422678531721481125,19999442,26785317,2148-11-25,51.625000,14.958333,97.083333,132.913043,72.826087,86.391304,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199994422678531721481126,19999442,26785317,2148-11-26,52.916667,15.083333,98.916667,142.583333,79.583333,95.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999872386574521451102,19999987,23865745,2145-11-02,95.000000,21.000000,99.000000,115.000000,70.000000,81.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999872386574521451103,19999987,23865745,2145-11-03,91.160000,19.840000,98.240000,108.269231,68.846154,78.384615,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999872386574521451104,19999987,23865745,2145-11-04,105.947368,23.578947,96.950000,126.000000,79.214286,88.857143,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Αποθήκευση του τελικού αρχείου με επικεφαλίδες τις ονομασίες των παρατηρήσεων
df_chart_tbl.to_csv('D:\Papers\Cyprus_Paper\Data\o18_fill_mean_chart_label_header_tbl.csv', index=False)