In [1]:
import pandas as pd

In [2]:
df_chart_tbl = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o15_empty_chart_max_tbl.csv', index_col=False)
df_max_chart = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o10_chartevent_24_hour_max.csv', index_col=False)
df_data_chart = pd.read_csv('D:\MSc Aegean\Thesis\mimic-iv-1.0\icu\d_items.csv.gz')

In [3]:
"""
Δημιουργώ εκ νέου την στήλη concat
χωρίς κενά ανάμεσα στα στοιχεία.
Θα χρησιμοποιήσω αυτή τη στήλη σαν
index γιατί τα κενά μπορεί να
δημιουργήσουν πρόβλημα.
"""
df_chart_tbl["concat"] = (df_chart_tbl["subject_id"].astype(str)
                          + df_chart_tbl["hadm_id"].astype(str)
                          + df_chart_tbl["date"].astype(str)
                          + df_chart_tbl["time"].astype(str))

"""
Αφαιρώ τους χαρακτήρες - και :
από της τιμές της concat για να
αποφύγω πιθανά προβλήματα
"""
df_chart_tbl['concat'] = df_chart_tbl['concat'].str.replace('-','')
df_chart_tbl['concat'] = df_chart_tbl['concat'].str.replace(':','')

In [4]:
# Ορίζω την στήλη concat ως index των γραμμών
df_chart_tbl = df_chart_tbl.set_index('concat')

In [5]:
"""
Δημιουργώ την στήλη concat και στον πίνακα
που περιλαμβάνει τις μετρήσεις για να είναι
το κοινό σημείο ανάμεσα στους δυο πίνακες
"""
df_max_chart["concat"] = (df_max_chart["subject_id"].astype(str)
                          + df_max_chart["hadm_id"].astype(str)
                          + df_max_chart["date"].astype(str)
                          + df_max_chart["time"].astype(str))

"""
Αφαιρώ τους χαρακτήρες - και :
από της τιμές της concat για να
αποφύγω πιθανά προβλήματα
"""
df_max_chart['concat'] = df_max_chart['concat'].str.replace('-','')
df_max_chart['concat'] = df_max_chart['concat'].str.replace(':','')

In [6]:
df_max_chart

,subject_id,hadm_id,itemid,Max_Chart,date,time,concat
0,10004733,27411876,220045,117.0,2174-12-04,00:00:00,100047332741187621741204000000
1,10004733,27411876,220045,140.0,2174-12-08,00:00:00,100047332741187621741208000000
2,10004733,27411876,220045,118.0,2174-12-12,00:00:00,100047332741187621741212000000
3,10004733,27411876,220046,130.0,2174-12-04,00:00:00,100047332741187621741204000000
4,10004733,27411876,220046,130.0,2174-12-08,00:00:00,100047332741187621741208000000
...,...,...,...,...,...,...,...
987386,19999987,23865745,228410,5.0,2145-11-02,00:00:00,199999872386574521451102000000
987387,19999987,23865745,228411,5.0,2145-11-02,00:00:00,199999872386574521451102000000
987388,19999987,23865745,228412,5.0,2145-11-02,00:00:00,199999872386574521451102000000
987389,19999987,23865745,228648,0.0,2145-11-02,00:00:00,199999872386574521451102000000
987390,19999987,23865745,228649,0.0,2145-11-02,00:00:00,199999872386574521451102000000

In [7]:
# Γεμίζω τον πίνακα
for row in df_max_chart.itertuples():
    con = row.concat
    item = row.itemid
    value = row.Max_Chart
    df_chart_tbl.at['{}'.format(con), '{}'.format(item)] = value

In [8]:
# Αποθήκευση του τελικού αρχείου με επικεφαλίδες τους κωδικούς των παρατηρήσεων
df_chart_tbl.to_csv('D:\Papers\Cyprus_Paper\Data\o21_fill_chart_max_itemid_header_tbl.csv', index=False)

In [9]:
df_data_chart = df_data_chart.set_index('itemid')

In [10]:
# Ενοποίηση τιμών σε κελιά
df_data_chart["header"] = ("Max - "
                           + df_data_chart["label"].astype(str)
                           + " ("
                           + df_data_chart["unitname"].astype(str)
                           + ")")

In [11]:
"""
Ελέγχω τις κεφαλίδες και αν δεν ανήκουν στις
τέσσερις πρώτες τιμές κάνω τις αντικατάσταση.
"""
for col in df_chart_tbl.columns:
    if ((col != 'subject_id') and
        (col != 'hadm_id') and
        (col != 'date') and
        (col != 'time')):
        temp = (df_data_chart.loc[int(col), 'header'])
        df_chart_tbl.rename(columns={'{}'.format(col): '{}'.format(temp)}, inplace=True)

In [12]:
df_chart_tbl

,subject_id,hadm_id,date,time,Max - Heart Rate (bpm),Max - Respiratory Rate (insp/min),Max - O2 saturation pulseoxymetry (%),Max - Non Invasive Blood Pressure systolic (mmHg),Max - Non Invasive Blood Pressure diastolic (mmHg),Max - Non Invasive Blood Pressure mean (mmHg),...,Max - Resistance (cmH2O/L/seconds),Max - ABI Ankle BP L (mmHg),Max - ABI Brachial BP R (mmHg),Max - ITBVI (PiCCO) (mL/m2),Max - Patient/Family Informed_V1 (nan),Max - Pheresis Catheter Line Tip Cultured (nan),Max - Triple Introducer Line Tip Cultured (nan),Max - Depth at which wedge obtained (PA Line) (cm),Max - Clot Size (cm) (cm),Max - Resting Energy Expenditure (kcal/day)
concat,,,,,,,,,,,,,,,,,,,,,
100047332741187621741204000000,10004733,27411876,2174-12-04,00:00:00,117.0,31.0,100.0,191.0,129.0,138.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100047332741187621741208000000,10004733,27411876,2174-12-08,00:00:00,140.0,30.0,99.0,215.0,140.0,169.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100047332741187621741212000000,10004733,27411876,2174-12-12,00:00:00,118.0,28.0,97.0,196.0,162.0,171.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100062772561055321760608000000,10006277,25610553,2176-06-08,00:00:00,114.0,43.0,98.0,153.0,110.0,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100062772561055321760604000000,10006277,25610553,2176-06-04,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199972932636665221231118000000,19997293,26366652,2123-11-18,00:00:00,56.0,25.0,100.0,162.0,128.0,132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199994422678531721481118000000,19999442,26785317,2148-11-18,00:00:00,110.0,24.0,100.0,154.0,90.0,103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199994422678531721481122000000,19999442,26785317,2148-11-22,00:00:00,71.0,25.0,100.0,158.0,93.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199994422678531721481126000000,19999442,26785317,2148-11-26,00:00:00,64.0,17.0,100.0,152.0,97.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999872386574521451102000000,19999987,23865745,2145-11-02,00:00:00,120.0,31.0,100.0,163.0,120.0,131.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Αποθήκευση του τελικού αρχείου με επικεφαλίδες τις ονομασίες των παρατηρήσεων
df_chart_tbl.to_csv('D:\Papers\Cyprus_Paper\Data\o22_fill_max_chart_label_header_tbl.csv', index=False)