In [1]:
import pandas as pd

In [2]:
df_chart_tbl = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o16_empty_chart_std_tbl.csv', index_col=False)
df_std_chart = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o11_chartevent_24_hour_std.csv', index_col=False)
df_data_chart = pd.read_csv('D:\MSc Aegean\Thesis\mimic-iv-1.0\icu\d_items.csv.gz')

In [3]:
"""
Δημιουργώ εκ νέου την στήλη concat
χωρίς κενά ανάμεσα στα στοιχεία.
Θα χρησιμοποιήσω αυτή τη στήλη σαν
index γιατί τα κενά μπορεί να
δημιουργήσουν πρόβλημα.
"""
df_chart_tbl["concat"] = (df_chart_tbl["subject_id"].astype(str)
                          + df_chart_tbl["hadm_id"].astype(str)
                          + df_chart_tbl["charttime"].astype(str))

"""
Αφαιρώ τους χαρακτήρες - και :
από της τιμές της concat για να
αποφύγω πιθανά προβλήματα
"""
df_chart_tbl['concat'] = df_chart_tbl['concat'].str.replace('-','')
df_chart_tbl['concat'] = df_chart_tbl['concat'].str.replace(':','')

In [4]:
# Ορίζω την στήλη concat ως index των γραμμών
df_chart_tbl = df_chart_tbl.set_index('concat')

In [5]:
"""
Δημιουργώ την στήλη concat και στον πίνακα
που περιλαμβάνει τις μετρήσεις για να είναι
το κοινό σημείο ανάμεσα στους δυο πίνακες
"""
df_std_chart["concat"] = (df_std_chart["subject_id"].astype(str)
                           + df_std_chart["hadm_id"].astype(str)
                           + df_std_chart["charttime"].astype(str))


"""
Αφαιρώ τους χαρακτήρες - και :
από της τιμές της concat για να
αποφύγω πιθανά προβλήματα
"""
df_std_chart['concat'] = df_std_chart['concat'].str.replace('-','')
df_std_chart['concat'] = df_std_chart['concat'].str.replace(':','')

In [7]:
df_std_chart

,subject_id,hadm_id,itemid,charttime,StdDev_Chart,concat
0,10004733,27411876,220045,2174-12-04,4.802510,100047332741187621741204
1,10004733,27411876,220045,2174-12-05,8.995328,100047332741187621741205
2,10004733,27411876,220045,2174-12-06,11.838282,100047332741187621741206
3,10004733,27411876,220045,2174-12-07,7.607438,100047332741187621741207
4,10004733,27411876,220045,2174-12-08,16.292127,100047332741187621741208
...,...,...,...,...,...,...
2185164,19999987,23865745,228410,2145-11-04,0.000000,199999872386574521451104
2185165,19999987,23865745,228411,2145-11-04,0.000000,199999872386574521451104
2185166,19999987,23865745,228412,2145-11-04,0.000000,199999872386574521451104
2185167,19999987,23865745,228648,2145-11-03,0.000000,199999872386574521451103
2185168,19999987,23865745,228649,2145-11-03,0.000000,199999872386574521451103

In [6]:
# Γεμίζω τον πίνακα
for row in df_std_chart.itertuples():
    con = row.concat
    item = row.itemid
    value = row.Std_Chart
    df_chart_tbl.at['{}'.format(con), '{}'.format(item)] = value

AttributeError: 'Pandas' object has no attribute 'Std_Chart'

In [ ]:
# Αποθήκευση του τελικού αρχείου με επικεφαλίδες τους κωδικούς των παρατηρήσεων
df_chart_tbl.to_csv('D:\Papers\Cyprus_Paper\Data\o23_fill_chart_std_itemid_header_tbl.csv', index=False)

In [ ]:
df_data_chart = df_data_chart.set_index('itemid')

In [ ]:
# Ενοποίηση τιμών σε κελιά
df_data_chart["header"] = ("Std Dev - "
                           + df_data_chart["label"].astype(str)
                           + " ("
                           + df_data_chart["unitname"].astype(str)
                           + ")")

In [ ]:
"""
Ελέγχω τις κεφαλίδες και αν δεν ανήκουν στις
τέσσερις πρώτες τιμές κάνω τις αντικατάσταση.
"""
for col in df_chart_tbl.columns:
    if ((col != 'subject_id') and
        (col != 'hadm_id') and
        (col != 'charttime')):
        temp = (df_data_chart.loc[int(col), 'header'])
        df_chart_tbl.rename(columns={'{}'.format(col): '{}'.format(temp)}, inplace=True)

In [ ]:
df_chart_tbl

In [ ]:
# Αποθήκευση του τελικού αρχείου με επικεφαλίδες τις ονομασίες των παρατηρήσεων
df_chart_tbl.to_csv('D:\Papers\Cyprus_Paper\Data\o24_fill_max_chart_label_header_tbl.csv', index=False)