In [1]:
"""
Δημιουργώ τέσσερις ξεχωριστούς πίνακες με τα στοιχεία
mean, min, max, std.
Χρησιμοποιώ το αρχείο o7_patient_chartevent_without_nan
όπου εμπεριέχει τις ωριαίες καταγραφές των ασθενών που έχουν
εισαχθεί στις μονάδες εντατικής θεραπείας
"""

'\nΔημιουργώ τέσσερις ξεχωριστούς πίνακες με τα στοιχεία\nmean, min, max, std.\nΧρησιμοποιώ το αρχείο o7_patient_chartevent_without_nan\nόπου εμπεριέχει τις ωριαίες καταγραφές των ασθενών που έχουν\nεισαχθεί στις μονάδες εντατικής θεραπείας\n'

In [2]:
import pandas as pd
time = '96H'

In [3]:
# CSV με τα chartevent των ασθενών
df_labevents= pd.read_csv('D:\MSc Aegean\Thesis\exports\o13_icu_labevents.csv')

In [4]:
df_labevents

,subject_id,hadm_id,labevent_id,specimen_id,itemid,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,10357189,23179921,4365714,2029314,51221,2124-08-02 05:44:00,2124-08-02 06:19:00,24.4,24.4,%,40.0,52.0,abnormal,STAT,NaN
1,10357189,23179921,4365716,2029314,51248,2124-08-02 05:44:00,2124-08-02 06:19:00,30.2,30.2,pg,27.0,32.0,NaN,STAT,NaN
2,10357189,23179921,4365717,2029314,51249,2124-08-02 05:44:00,2124-08-02 06:19:00,34.4,34.4,%,31.0,35.0,NaN,STAT,NaN
3,10357189,23179921,4365718,2029314,51250,2124-08-02 05:44:00,2124-08-02 06:19:00,88,88.0,fL,82.0,98.0,NaN,STAT,NaN
4,10357189,23179921,4365719,2029314,51265,2124-08-02 05:44:00,2124-08-02 06:19:00,154,154.0,K/uL,150.0,440.0,NaN,STAT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568917,13293337,23590234,40713961,44872824,51075,2144-04-13 22:44:00,2144-04-14 03:14:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,BENZODIAZEPINE IMMUNOASSAY SCREEN DOES NOT DET...
1568918,13293337,23590234,40713992,53718592,50880,2144-04-13 22:44:00,2144-04-14 00:13:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,BENZODIAZEPINE IMMUNOASSAY SCREEN DOES NOT REL...
1568919,13293337,23590234,40713964,44872824,51090,2144-04-13 22:44:00,2144-04-14 03:14:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,;METHADONE ASSAY DETECTS METHADONE (NOT OTHER ...
1568920,13293337,23590234,40713965,44872824,51092,2144-04-13 22:44:00,2144-04-14 03:14:00,POS,NaN,NaN,NaN,NaN,NaN,ROUTINE,;OPIATE ASSAY DOES NOT RELIABLY DETECT SYNTHET...
1568921,13293337,23590234,40714007,53718592,50999,2144-04-13 22:44:00,2144-04-14 00:13:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,POSITIVE TRICYCLIC RESULTS REPRESENT POTENTIAL...

In [5]:
# Μετατροπή της στήλης charttime από object σε datetime

df_labevents['charttime']= pd.to_datetime(df_labevents['charttime'])

In [6]:
#Απομονώνω τις γραμμές που δεν περιλαμβάνουν τιμές στην valuenum
df_labevents = df_labevents[df_labevents['valuenum'].notna()]

In [7]:
# Μέση τιμή (mean) ανά 24ώρο 
grouped_multiple = (df_labevents.groupby(['subject_id',
                                          'hadm_id',
                                          'itemid',
                                          pd.Grouper(key='charttime',
                                                     freq=time)]).agg({'valuenum': ['mean']}))
grouped_multiple.columns = ['Mean_Lab']
grouped_multiple = grouped_multiple.reset_index()

#Διαχωρισμός σε δυο καινούργιες στήλες της ημερομηνίας και ώρας
grouped_multiple['date'] = pd.to_datetime(grouped_multiple['charttime']).dt.date
grouped_multiple['time'] = pd.to_datetime(grouped_multiple['charttime']).dt.time

# drop column charttime
grouped_multiple.drop('charttime', axis=1, inplace=True)

grouped_multiple.to_csv('D:\Papers\Cyprus_Paper\Data\o26_labevents_24hours_mean.csv', index=False)



# Μικρότερη τιμή (min) ανά 24ώρο 
grouped_multiple = (df_labevents.groupby(['subject_id',
                                          'hadm_id',
                                          'itemid',
                                          pd.Grouper(key='charttime',
                                                     freq=time)]).agg({'valuenum': ['min']}))
grouped_multiple.columns = ['Min_Lab']
grouped_multiple = grouped_multiple.reset_index()

#Διαχωρισμός σε δυο καινούργιες στήλες της ημερομηνίας και ώρας
grouped_multiple['date'] = pd.to_datetime(grouped_multiple['charttime']).dt.date
grouped_multiple['time'] = pd.to_datetime(grouped_multiple['charttime']).dt.time

# drop column charttime
grouped_multiple.drop('charttime', axis=1, inplace=True)

grouped_multiple.to_csv('D:\Papers\Cyprus_Paper\Data\o27_labevents_24_hour_min.csv', index=False)


# Μέγιστη τιμή (max) ανά 24ώρο 
grouped_multiple = (df_labevents.groupby(['subject_id',
                                          'hadm_id',
                                          'itemid',
                                          pd.Grouper(key='charttime',
                                                     freq=time)]).agg({'valuenum': ['max']}))
grouped_multiple.columns = ['Max_Lab']
grouped_multiple = grouped_multiple.reset_index()

#Διαχωρισμός σε δυο καινούργιες στήλες της ημερομηνίας και ώρας
grouped_multiple['date'] = pd.to_datetime(grouped_multiple['charttime']).dt.date
grouped_multiple['time'] = pd.to_datetime(grouped_multiple['charttime']).dt.time

# drop column charttime
grouped_multiple.drop('charttime', axis=1, inplace=True)

grouped_multiple.to_csv('D:\Papers\Cyprus_Paper\Data\o28_labevents_24_hour_max.csv', index=False)


# Τυπική απόκλιση (std) ανά 24ώρο 
grouped_multiple = (df_labevents.groupby(['subject_id',
                                          'hadm_id',
                                          'itemid',
                                          pd.Grouper(key='charttime',
                                                     freq=time)]).agg({'valuenum': ['std']}))
grouped_multiple.columns = ['StdDev_Lab']
grouped_multiple = grouped_multiple.reset_index()

#Διαχωρισμός σε δυο καινούργιες στήλες της ημερομηνίας και ώρας
grouped_multiple['date'] = pd.to_datetime(grouped_multiple['charttime']).dt.date
grouped_multiple['time'] = pd.to_datetime(grouped_multiple['charttime']).dt.time

# drop column charttime
grouped_multiple.drop('charttime', axis=1, inplace=True)

grouped_multiple.to_csv('D:\Papers\Cyprus_Paper\Data\o29_labevent_24_hour_std.csv', index=False)

In [8]:
df_patients_mean = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o26_labevents_24hours_mean.csv')
df_patients_min = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o27_labevents_24_hour_min.csv')
df_patients_max = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o28_labevents_24_hour_max.csv')
df_patients_std = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o29_labevent_24_hour_std.csv')