In [1]:
import pandas as pd

In [2]:
df_mean = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o36_fill_mean_lab_label_header_tbl.csv')

df_min = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o38_fill_min_lab_label_header_tbl.csv')

df_max = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o41_fill_max_lab_label_header_tbl.csv')

df_std = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o43_fill_std_lab_label_header_tbl.csv')

In [3]:
# Συγχώνευση πρώτων δύο πινάκων

#Ελέγχω αν μετά την συγχώνευση υπάρχουν διπλές ίδιες στήλες

rslt=pd.merge(df_mean, df_min, on=['subject_id','hadm_id', 'date', 'time'],
              how="outer", suffixes=('', '_delme'))

# Και αν υπάρχουν τις αφαιρώ
rslt = rslt[[c for c in rslt.columns if not c.endswith('_delme')]]

In [4]:
# Συγχώνευση των δύο πρώτων πινάκων με τον τρίτο

#Ελέγχω αν μετά την συγχώνευση υπάρχουν διπλές ίδιες στήλες

rslt=pd.merge(rslt, df_max, on=['subject_id','hadm_id', 'date', 'time'],
              how="outer", suffixes=('', '_delme'))

# Και αν υπάρχουν τις αφαιρώ
rslt = rslt[[c for c in rslt.columns if not c.endswith('_delme')]]

In [5]:
# Συγχώνευση των τριών πρώτων πινάκων με τον τέταρτο

#Ελέγχω αν μετά την συγχώνευση υπάρχουν διπλές ίδιες στήλες

rslt=pd.merge(rslt, df_std, on=['subject_id','hadm_id', 'date', 'time'],
              how="outer", suffixes=('', '_delme'))

# Και αν υπάρχουν τις αφαιρώ
rslt = rslt[[c for c in rslt.columns if not c.endswith('_delme')]]

In [6]:
rslt.sort_values(by=['subject_id', 'date', 'time'])

,subject_id,hadm_id,date,time,Mean - Potassium (Blood),Mean - Creatinine (Blood),Mean - Urea Nitrogen (Blood),Mean - Chloride (Blood),Mean - Sodium (Blood),Mean - Bicarbonate (Blood),...,"Std Dev - Testosterone, Free (Blood)","Std Dev - Cholesterol, Ascites (Ascites)",Std Dev - Basophils (Joint Fluid),Std Dev - RBC Casts (Urine),Std Dev - Metamyelocytes (Ascites),"Std Dev - Glucose, Urine (Urine)",Std Dev - Myelocytes (Cerebrospinal Fluid),Std Dev - Mesothelial Cells (Joint Fluid),Std Dev - NRBC (Joint Fluid),Std Dev - I (Blood)
0,10004733,27411876,2174-12-04,00:00:00,3.814286,3.557143,40.857143,107.428571,144.285714,23.571429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10004733,27411876,2174-12-08,00:00:00,3.800000,2.757143,28.714286,111.714286,147.285714,24.571429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10004733,27411876,2174-12-12,00:00:00,3.850000,3.075000,30.750000,105.750000,142.250000,26.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10004733,27411876,2174-12-16,00:00:00,3.775000,3.175000,23.750000,106.250000,139.750000,22.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10004733,27411876,2174-12-20,00:00:00,3.800000,2.500000,16.000000,107.000000,140.000000,23.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13092,19999442,26785317,2148-11-22,00:00:00,4.000000,0.675000,18.500000,106.250000,139.250000,24.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13090,19999442,26785317,2148-11-26,00:00:00,4.233333,0.733333,22.666667,101.000000,135.333333,26.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13091,19999442,26785317,2148-11-30,00:00:00,3.950000,0.550000,17.500000,102.000000,137.000000,27.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13093,19999987,23865745,2145-11-02,00:00:00,3.800000,1.133333,19.666667,111.000000,146.000000,27.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13094,19999987,23865745,2145-11-06,00:00:00,3.700000,0.933333,10.000000,108.666667,144.000000,26.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Εξαγωγή σε csv
rslt.to_csv('D:\Papers\Cyprus_Paper\Data\o44_merged_lab_tables.csv', index=False)