In [1]:
import pandas as pd
import numpy as np

# Εισαγωγή Expire flag

In [2]:
# Εισαγωγή csv
df_icu = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o45_merged_chart_lab.csv')

df_patients = pd.read_csv('D:\MSc Aegean\Thesis\mimic-iv-1.0\core\patients.csv.gz')

df_admissions = pd.read_csv('D:\MSc Aegean\Thesis\mimic-iv-1.0\core\Admissions.csv.gz', usecols = ['subject_id', 'hadm_id', 'hospital_expire_flag'])

In [3]:
df_death = df_admissions.loc[df_admissions['hospital_expire_flag'] == 1]

In [6]:
#Ελέγχω αν μετά την συγχώνευση υπάρχουν διπλές ίδιες στήλες
df_rslt=pd.merge(df_icu, df_death, on=['subject_id','hadm_id'],
              how="left", suffixes=('', '_delme'))


# Και αν υπάρχουν τις αφαιρώ
df_rslt = df_rslt[[c for c in df_rslt.columns if not c.endswith('_delme')]]

In [5]:
# Εισάγω την τιμή μηδέν στα κενά κελιά της hospital_expire_flag
df_rslt[['hospital_expire_flag']] = df_rslt[['hospital_expire_flag']].fillna(0)

# Μετατρέπω την στήλη hospital_expire_flag σε ακέραιο.
df_rslt['hospital_expire_flag'] = df_rslt['hospital_expire_flag'].apply(int)

In [6]:
"""
Αντικατάσταση τιμών από μηδέν σε
survival και από ένα σε death
στην στήλη hospital_expire_flag
"""

#df_rslt = df_rslt["hospital_expire_flag"].replace({0 : "survival", 1 :"death"}, inplace = True)


df_rslt["hospital_expire_flag"] = np.where(df_rslt["hospital_expire_flag"] == 0, "survival", "death")

In [7]:
#Εξαγωγή σε csv
df_rslt.to_csv('D:\Papers\Cyprus_Paper\Data\o46_chart_lab_with_death_flag.csv', index=False)

In [7]:
df_rslt

,subject_id,hadm_id,charttime,Mean - Heart Rate (bpm),Mean - Respiratory Rate (insp/min),Mean - O2 saturation pulseoxymetry (%),Mean - Non Invasive Blood Pressure systolic (mmHg),Mean - Non Invasive Blood Pressure diastolic (mmHg),Mean - Non Invasive Blood Pressure mean (mmHg),Mean - Arterial Blood Pressure mean (mmHg),...,Std Dev - Non-squamous Epithelial Cells (Urine),Std Dev - RBC Casts (Urine),Std Dev - L (Blood),Std Dev - Young Cells (Blood),Std Dev - NRBC (Joint Fluid),Std Dev - H (Blood),Std Dev - DHEA-Sulfate (Blood),"Std Dev - Cholesterol, Ascites (Ascites)",ethnicity,hospital_expire_flag
0,10004733,27411876,2174-12-04,95.692308,19.461538,97.615385,159.000000,94.583333,109.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
1,10004733,27411876,2174-12-05,92.680000,19.880000,95.240000,148.680000,70.060000,87.140000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
2,10004733,27411876,2174-12-06,90.833333,12.291667,96.250000,136.041667,74.666667,87.458333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
3,10004733,27411876,2174-12-07,72.838710,13.516129,97.645161,147.000000,90.555556,103.259259,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
4,10004733,27411876,2174-12-08,94.090909,18.045455,96.318182,178.340909,106.409091,123.409091,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41190,19999987,23865745,2145-11-04,105.947368,23.578947,96.950000,126.000000,79.214286,88.857143,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
41191,19999987,23865745,2145-11-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
41192,19999987,23865745,2145-11-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
41193,19999987,23865745,2145-11-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival
41194,19999987,23865745,2145-11-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,survival