In [1]:
import pandas as pd

In [6]:
df_temp = pd.read_csv('D:\Papers\Cyprus_Paper\Data\o45_merged_chart_lab.csv')

In [5]:
df_temp.to_csv('D:\Papers\Cyprus_Paper\Data\o46_count', index=False)

       subject_id   hadm_id   charttime
0        10004733  27411876  2174-12-04
1        10004733  27411876  2174-12-05
2        10004733  27411876  2174-12-06
3        10004733  27411876  2174-12-07
4        10004733  27411876  2174-12-08
...           ...       ...         ...
41190    19999442  26785317  2148-11-27
41191    19999987  23865745  2145-11-05
41192    19999987  23865745  2145-11-06
41193    19999987  23865745  2145-11-09
41194    19999987  23865745  2145-11-07

[41195 rows x 3 columns]