In [1]:
"""
Το chartevent αποτελείται από 9.874.474 εγγραφές που αφορούν τους ασθενείς με εγκεφαλικό

Οι καταγραφές αυτές ομαδοποιήθηκαν και υπολογίσαμε τον μέσο όρο για την κάθε μια από αυτές μέσα στο 8ώρο όπου και ανήλθαν στα 4.177.458 εγγραφές 
"""

'\nΤο chartevent αποτελείται από 9.874.474 εγγραφές που αφορούν τους ασθενείς με εγκεφαλικό\n\nΟι καταγραφές αυτές ομαδοποιήθηκαν και υπολογίσαμε τον μέσο όρο για την κάθε μια από αυτές μέσα στο 8ώρο όπου και ανήλθαν στα 4.177.458 εγγραφές \n'

In [2]:
import pandas as pd

In [3]:
rslt_df = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o8_cerebral_infarction_chartevent_item_merged_without_nan.csv')

df_d_items = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\icu\d_items.csv.gz')

C:\Users\Dimopoulos\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
rslt_df

,subject_id,hadm_id,stay_id,charttime,storetime,itemid,value,valuenum,valueuom,warning,label,abbreviation,category,param_type
0,10357189,23179921,32535724,2124-08-01 22:00:00,2124-08-01 22:14:00,220046,120,120.0,bpm,0,Heart rate Alarm - High,HR Alarm - High,Alarms,Numeric
1,10357189,23179921,32535724,2124-08-02 00:00:00,2124-08-02 00:07:00,220046,120,120.0,bpm,0,Heart rate Alarm - High,HR Alarm - High,Alarms,Numeric
2,10357189,23179921,32535724,2124-08-02 04:00:00,2124-08-02 04:34:00,220046,120,120.0,bpm,0,Heart rate Alarm - High,HR Alarm - High,Alarms,Numeric
3,10357189,23179921,32535724,2124-08-02 08:00:00,2124-08-02 08:27:00,220046,120,120.0,bpm,0,Heart rate Alarm - High,HR Alarm - High,Alarms,Numeric
4,10357189,23179921,32535724,2124-08-02 12:00:00,2124-08-02 12:07:00,220046,120,120.0,bpm,0,Heart rate Alarm - High,HR Alarm - High,Alarms,Numeric
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9874469,13736592,24921672,34294325,2155-06-11 20:59:00,2155-06-11 21:00:00,228616,0.0,0.0,cm,0,Pressure Ulcer #7- Depth,Pressure Ulcer #7- Depth,Skin - Impairment,Numeric
9874470,13736592,24921672,34294325,2155-06-12 09:18:00,2155-06-12 09:18:00,228616,0.0,0.0,cm,0,Pressure Ulcer #7- Depth,Pressure Ulcer #7- Depth,Skin - Impairment,Numeric
9874471,13736592,24921672,34294325,2155-06-12 20:28:00,2155-06-12 20:28:00,228616,0.0,0.0,cm,0,Pressure Ulcer #7- Depth,Pressure Ulcer #7- Depth,Skin - Impairment,Numeric
9874472,13129329,23992308,32482524,2196-03-18 06:44:00,2196-03-18 06:44:00,225731,0.0,0.0,NaN,0,Pheresis Catheter Line Tip Cultured,Pheresis Catheter Line Tip Cultured,Access Lines - Invasive,Checkbox
9874473,13129329,23992308,32482524,2196-03-19 04:39:00,2196-03-19 04:39:00,225731,1.0,1.0,NaN,0,Pheresis Catheter Line Tip Cultured,Pheresis Catheter Line Tip Cultured,Access Lines - Invasive,Checkbox

In [5]:
"""
Μετατροπή της στήλης charttime από object σε datetime
Αυτή η γραμμή κώδικα έγινε σε αντικατάσταση της
dates =  pd.to_datetime(df.charttime, format='%Y-%m-%d %H:%M:%S').
Η εντολή .info() στο dataframe και στο δικό μου είναι rslt_df.info()
γυρίζει αποτελέσματα αναφορικά με τα στοιχεία του πίνακα και ένα από
αυτά είναι το είδος της κάθε στήλης. Η στήλη του charttime φαίνεται
σαν object και αυτό είχε σαν συνέπεια να μην μπορούν να γίνουν οι
υπολογισμοί. Μετά την εκτέλεση της παρακάτω εντολής αν τρέξουμε εκ νέου την
.info() πλέον το αποτέλεσμα στην charttime είναι datetime64[ns], οπότε μετά
μπορεί να ακουθήσει η groupby και οι υπολογισμοί μέσα σε αυτή όπως το freq και
οι υπόλοιπες. Χωρίς αυτή δεν γίνεται.
"""
rslt_df['charttime']= pd.to_datetime(rslt_df['charttime'])

In [6]:
# Ομαδοποίηση στοιχείων ανά οχτάωρο
grouped_multiple = rslt_df.groupby(['subject_id', 'hadm_id', 'itemid', pd.Grouper(key='charttime', freq='8H')]).agg({'valuenum': ['mean']})
grouped_multiple.columns = ['Mean_Chart']
grouped_multiple = grouped_multiple.reset_index()

In [7]:
grouped_multiple

         subject_id   hadm_id  itemid           charttime  Mean_Chart
0          10004733  27411876  220045 2174-12-04 08:00:00   93.200000
1          10004733  27411876  220045 2174-12-04 16:00:00   97.250000
2          10004733  27411876  220045 2174-12-05 00:00:00  100.333333
3          10004733  27411876  220045 2174-12-05 08:00:00   90.687500
4          10004733  27411876  220045 2174-12-05 16:00:00   92.111111
...             ...       ...     ...                 ...         ...
4177453    19999987  23865745  228412 2145-11-04 00:00:00    5.000000
4177454    19999987  23865745  228412 2145-11-04 08:00:00    5.000000
4177455    19999987  23865745  228412 2145-11-04 16:00:00    5.000000
4177456    19999987  23865745  228648 2145-11-03 00:00:00    0.000000
4177457    19999987  23865745  228649 2145-11-03 00:00:00    0.000000

[4177458 rows x 5 columns]

In [6]:
# Ενοποίηση του πίνακα με την επεξήγηση του κάθε itemid
rslt_df=pd.merge(grouped_multiple, df_d_items, on=['itemid'])

In [7]:
rslt_df.to_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o9_charttime_8_hour_mean_item_merged.csv', index=False)