In [1]:
"""
Αντικατάσταση των κεφαλίδων στο αρχείο
με τις συνολικές καταγραφές
"""

'\nΑντικατάσταση των κεφαλίδων στο αρχείο\nμε τις συνολικές καταγραφές\n'

In [2]:
#Εισαγωγή βιβλιοθήκης Panda
import pandas as pd

In [3]:
df_data_labevents = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\hosp\d_labitems.csv.gz')
df_item_header = pd.read_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o15_fill_lab_itemid_header_tbl.csv')

In [4]:
df_data_labevents = df_data_labevents.set_index('itemid')

In [5]:
# Ενοποίηση τιμών σε κελιά
df_data_labevents["header"] = (df_data_labevents["label"].astype(str)
                                                + " ("
                                                + df_data_labevents["fluid"].astype(str)
                                                + ")")

In [6]:
df_data_labevents

,label,fluid,category,loinc_code,header
itemid,,,,,
51905,,Other Body Fluid,Chemistry,NaN,(Other Body Fluid)
51532,11-Deoxycorticosterone,Blood,Chemistry,NaN,11-Deoxycorticosterone (Blood)
51957,17-Hydroxycorticosteroids,Urine,Chemistry,NaN,17-Hydroxycorticosteroids (Urine)
51958,"17-Ketosteroids, Urine",Urine,Chemistry,NaN,"17-Ketosteroids, Urine (Urine)"
52068,24 Hr,Blood,Hematology,NaN,24 Hr (Blood)
...,...,...,...,...,...
52017,"Zinc, Urine",Urine,Chemistry,NaN,"Zinc, Urine (Urine)"
52420,ZZDUMMY,Urine,Hematology,NaN,ZZDUMMY (Urine)
51771,NaN,Blood,Chemistry,NaN,nan (Blood)
51955,NaN,Stool,Chemistry,NaN,nan (Stool)
52374,NaN,Other Body Fluid,Hematology,NaN,nan (Other Body Fluid)

In [7]:
# Ελέγχω τις κεφαλίδες και αν δεν ανήκουν στις
# τέσσερις πρώτες τιμές κάνω τις αντικατάσταση.
for col in df_item_header.columns:
    if ((col != 'subject_id')
        and (col != 'hadm_id')
        and (col != 'Department')
        and (col != 'date')
        and (col != 'time')):
        temp = (df_data_labevents.loc[int(col), 'header'])
        df_item_header.rename(columns={'{}'.format(col): '{}'.format(temp)}, inplace=True)

In [8]:
df_item_header

,subject_id,hadm_id,Department,date,time,Alveolar-arterial Gradient (Blood),Base Excess (Blood),"Calculated Bicarbonate, Whole Blood (Blood)",Calculated Total CO2 (Blood),Carboxyhemoglobin (Blood),...,Other (Cerebrospinal Fluid),Plasma (Cerebrospinal Fluid),Polys (Cerebrospinal Fluid),Promyelocytes (Cerebrospinal Fluid),"RBC, CSF (Cerebrospinal Fluid)","Total Nucleated Cells, CSF (Cerebrospinal Fluid)","Total Nucleated Cells, Joint (Joint Fluid)","Total Nucleated Cells, Other (Other Body Fluid)","Total Nucleated Cells, Pleural (Pleural)",Absolute Lymphocyte Count (Blood)
0,10004733,27411876,hosp,2174-12-04,16:00:00,NaN,0.0,NaN,26.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10004733,27411876,hosp,2174-12-04,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10004733,27411876,hosp,2174-12-05,16:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10004733,27411876,hosp,2174-12-06,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10004733,27411876,hosp,2174-12-07,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68186,19999987,23865745,hosp,2145-11-09,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68187,19999987,23865745,hosp,2145-11-07,00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68188,19999987,23865745,hosp,2145-11-03,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68189,19999987,23865745,hosp,2145-11-03,16:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68190,19999987,23865745,hosp,2145-11-04,08:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Αποθήκευση του τελικού αρχείου με επικεφαλίδες τους κωδικούς των παρατηρήσεων
df_item_header.to_csv('D:\MSc Aegean\Διατριβή\MIMIC_IV\mimic-iv-1.0\exports\o15_fill_lab_label_header_tbl.csv', index=False)