In [1]:
"""
Το chartevent αποτελείται από 9.874.474
εγγραφές που αφορούν τους ασθενείς με εγκεφαλικό

Οι καταγραφές αυτές ομαδοποιήθηκαν και υπολογίσαμε
τον μέσο όρο για την κάθε μια από αυτές μέσα στο 8ώρο
όπου και ανήλθαν στα 4.177.458 εγγραφές 
"""

'\nΤο chartevent αποτελείται από 9.874.474\nεγγραφές που αφορούν τους ασθενείς με εγκεφαλικό\n\nΟι καταγραφές αυτές ομαδοποιήθηκαν και υπολογίσαμε\nτον μέσο όρο για την κάθε μια από αυτές μέσα στο 8ώρο\nόπου και ανήλθαν στα 4.177.458 εγγραφές \n'

In [2]:
import pandas as pd

In [3]:
df_patients_chart = pd.read_csv('D:\Thesis\exports\o7_patient_chartevent_without_nan.csv')

C:\Users\Dimopoulos\AppData\Local\Temp\ipykernel_3320\94107349.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_patients_chart = pd.read_csv('D:\Thesis\exports\o7_patient_chartevent_without_nan.csv')

In [4]:
# Μετατροπή της στήλης charttime από object σε datetime

df_patients_chart['charttime']= pd.to_datetime(df_patients_chart['charttime'])

In [5]:
# Ομαδοποίηση στοιχείων ανά οχτάωρο
grouped_multiple = (df_patients_chart.groupby(['subject_id',
                                               'hadm_id',
                                               'itemid',
                                               pd.Grouper(key='charttime',
                                                          freq='8H')]).agg({'valuenum': ['mean']}))
grouped_multiple.columns = ['Mean_Chart']
grouped_multiple = grouped_multiple.reset_index()

In [6]:
#Διαχωρισμός σε δυο καινούργιες στήλες της ημερομηνίας και ώρας
grouped_multiple['date'] = pd.to_datetime(grouped_multiple['charttime']).dt.date
grouped_multiple['time'] = pd.to_datetime(grouped_multiple['charttime']).dt.time

In [8]:
grouped_multiple

,subject_id,hadm_id,itemid,charttime,Mean_Chart,date,time
0,10000980,26913865,220045,2189-06-27 08:00:00,73.125000,2189-06-27,08:00:00
1,10000980,26913865,220045,2189-06-27 16:00:00,75.000000,2189-06-27,16:00:00
2,10000980,26913865,220179,2189-06-27 08:00:00,146.625000,2189-06-27,08:00:00
3,10000980,26913865,220179,2189-06-27 16:00:00,131.333333,2189-06-27,16:00:00
4,10000980,26913865,220180,2189-06-27 08:00:00,86.500000,2189-06-27,08:00:00
...,...,...,...,...,...,...,...
6746005,19997473,27787494,229326,2173-09-19 16:00:00,0.000000,2173-09-19,16:00:00
6746006,19997473,27787494,229326,2173-09-20 08:00:00,0.000000,2173-09-20,08:00:00
6746007,19997473,27787494,229326,2173-09-20 16:00:00,0.000000,2173-09-20,16:00:00
6746008,19997473,27787494,229326,2173-09-21 08:00:00,0.000000,2173-09-21,08:00:00
6746009,19997473,27787494,229326,2173-09-21 16:00:00,0.000000,2173-09-21,16:00:00

In [7]:
grouped_multiple.to_csv('D:\Thesis\exports\o9_chartevent_8_hour_mean.csv', index=False)